footer.bg-black.clr-white
	.container
		.columna.logos_footer
			.flex
				a(href="#!"): img(src=urlFolder+'images/logos/logo_iniciativa_white_footer.svg' alt='Iniciativa Idea')
				a(href="#!"): img(src=urlFolder+'images/logos/logo_planned_white_footer.png' alt='Planned Parenthood')

			p #[a(href="https://www.greengeeks.com/" target="_blank" rel="nofollow") #[img(src=urlFolder+"images/footer/greenwebsite.png" alt="Green Website")]] #[span Low impact website powered by #[a(href="https://www.weareplanta.com/" target="_blank") Planta]]

		.columna.links
			ul
				//-li: a(href='#!') Aviso de Privacidad
				//-li: a(href='#!') Términos y Condiciones
				//-li: a(href='#!') Preguntas Frecuentes
				li: a(href='mailto:contacto@iniciativaidea.org') contacto@iniciativaidea.org

			ul.social
				li: a(href='https://www.instagram.com/iniciativaidea/' target="_blank" title="Instagram"): img(src=urlFolder+'images/logos/logo_instagram.svg' alt="instragram")
				li: a(href='https://www.facebook.com/IniciativaIDEA/' target="_blank" title="Facebook"): img(src=urlFolder+'images/logos/logo_facebook.svg' alt="facebook")
				li: a(href='https://twitter.com/IniciativaIDEA' target="_blank" title="Twitter"): img(src=urlFolder+'images/logos/logo_twitter.svg' alt="twitter")
				li: a(href='https://www.linkedin.com/company/iniciativa-idea/' target="_blank" title="Linkedin"): img(src=urlFolder+'images/logos/logo_linkedin.svg' alt="linkedin")
				li: a(href='https://www.youtube.com/channel/UCGKfw7AmyQ1nWP_bStgS-lA' target="_blank" title="Youtube"): img(src=urlFolder+'images/logos/youtube.svg' alt="youtube")

			p Iniciativa IDEA © Copyright 2020

		.columna.form
			p ¿Quieres recibir nuestro newsletter?

			form
				input(type='text' placeholder='Nombre completo')
				input(type='text' placeholder='Email')
				button(type='submit') Enviar
