- var seccion = ''
	if(page.link === 'index.html')
		- seccion = 'sections/'

header.c-header
	.c-header__fixed
		.c-header__content
			.c-header__logos
				if(page.link !== 'index.html')
					a.c-header__logos-item(href="../index.html"): img.c-header__logos-principal(src=urlFolder+'images/logos/logo_iniciativa_color.svg' alt='logo - Iniciativa Idea')
				else
					a.c-header__logos-item(href="index.html"): img.c-header__logos-principal(src=urlFolder+'images/logos/logo_iniciativa_color.svg' alt='logo - Iniciativa Idea')

				a.c-header__logos-item(href="index.html"): img.c-header__logos-secundario.hideMobil(src=urlFolder+'images/logos/logo_planned_black.png' alt='logo - Planned Parenthood')
				a.c-header__logos-item(href="index.html"): img.c-header__logos-secundario.hideEscritorio(src=urlFolder+'images/logos/planned-parenthood-vertical.svg' alt='logo - Planned Parenthood')

			nav.c-header__menu
				ul.c-header__menu-lista
					li#cerrar-menu.c-header__menu-item.cerrar: a(href="#!"): img(src=urlFolder+'images/icons/cancel.svg' alt="cerrar")
					li.c-header__menu-item: a.c-header__menu-enlace(href=seccion+'iniciativa-idea.html') Iniciativa IDEA
					li.c-header__menu-item
						a.c-header__menu-enlace(href='#!') Programas

						ul.c-header__submenu
							li.c-header__submenu-item: a.c-header__submenu-enlace(href=seccion+'idea-inspira.html') IDEA Inspira
							li.c-header__submenu-item: a.c-header__submenu-enlace(href=seccion+'idea-start.html') IDEA Start
							li.c-header__submenu-item: a.c-header__submenu-enlace(href=seccion+'comunidad-idea.html') Comunidad IDEA

					li.c-header__menu-item: a.c-header__menu-enlace(href=seccion+'https://iniciativaidea.org/') Foro IDEA
					//li: a(href="#!") News
					//li: a(href="#!") Convocatorias

		.c-header__buscar: a(href="#!"): img(src=urlFolder+'images/icons/i-search.svg')

		.c-header__mobil#menu-mobil: img(src=urlFolder+'images/icons/i-hamburguer.svg')



