@mixin mobile-dos {
	@media #{$mobile-dos} {
		@content;
	}
}

@mixin mobile {
	@media #{$mobile} {
		@content;
	}
}

@mixin escritorio-abajo {
	@media #{$escritorio-and-down} {
		@content;
	}
}

@mixin escritorio {
	@media #{$escritorio} {
		@content;
	}
}

@mixin escritorio-dos {
	@media #{$escritorio-dos} {
		@content;
	}
}

@mixin escritorio-full {
	@media #{$escritorio-full} {
		@content;
	}
}
