//- Variables
include config/_site
include config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'index.html'
- page[ 'title' ] 		= 'Inicio'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include template/_head

	body
		include template/_header

		main#home
			section.banner.bg-lightgray
				.container
					h1 #[span Laboratorio] de Innovación Social
					h2 para los #[b Derechos Reproductivos] de América Latina

				a.scroll(href='#!'): img(src='images/icons/i-arrowdown_gray.svg' alt='icon arrow down gray')

			.why
				.container
					article
						.why-texto
							h2 ¿Cuál es el desafío?
							p Millones de personas en América Latina enfrentan cada día barreras que obstaculizan el ejercicio de sus derechos reproductivos y que provocan consecuencias muy negativas para ellas, sus familias y sus países.
							p ¿Tienes idea del desafío que estamos enfrentando?
							p: a(href="sections/iniciativa-idea.html" title="Para saber más...") Para saber más...

						.why-imagen
							img(src='images/home/desafio.jpg' alt='¿Cuál es el desafío?')

					article
						.why-texto
							h2 ¿Qué estamos haciendo?
							p La Iniciativa IDEA es el laboratorio de innovación social para los derechos reproductivos en América Latina de Planned Parenthood Global.
							p La Iniciativa IDEA impulsa un nuevo ecosistema formado por los sectores de la publicidad, tecnología, medios digitales y emprendimiento de impacto social, que explora la creatividad, la innovación y el talento para transformar cada idea en una solución a los grandes desafíos para la salud y los derechos reproductivos en América Latina.

						.why-imagen
							img(src='images/home/iniciativa.jpg' alt='Iniciativa Idea')

			section.postulate.bg-lightgray
				.container
					h2 ¿Tienes una IDEA inspiradora?
					h3 Buscamos ideas que nos inspiren y que necesitan apoyo para ponerlas en práctica.
					p IDEA Inspira es un programa de #[b convocatoria abierta y permanente], que invita a la exploración de ideas disruptivas en las que la innovación y la creatividad son el componente esencial a la hora de encontrar soluciones a los desafíos para la salud y derechos reproductivos en América Latina.
					a(href='sections/idea-inspira.html' title="Para saber más") Para saber más


			section.c-lista-de-logos.c-lista-de-logos--rosa
				.container
					h2.c-lista-de-logos__titulo Proyectos Innovadores
					p Conoce algunos proyectos que hemos apoyado en Iniciativa IDEA.

					ul.c-lista-de-logos__lista
						li: a.c-lista-de-logos__lista-contenido(href="http://creadorascamp.org/" target="_blank"): .content: img.lazy(src="#" data-src=urlFolder + "images/logos/logo_creadorascamp-white.png" alt="Idea Inspira")
						li: a.c-lista-de-logos__lista-contenido(href="https://festivalzarelia.com/" target="_blank"): .content: img.lazy(src="#" data-src=urlFolder + "images/logos/logo_zarelia_white.png" alt="Idea Start")
						li: a.c-lista-de-logos__lista-contenido(href="sections/idea-start.html"): .content: img.lazy(src="#" data-src=urlFolder + "images/logos/logo_ideastart_white.png" alt="Idea Premios")

			section.c-lista-resultados
				.container
					h2.c-lista-resultados__titulo Nuestro Impacto

					ul.c-lista-resultados__lista
						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 12
								p.c-lista-resultados__lista-texto #[strong Proyectos disruptivos] apoyados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 29
								p.c-lista-resultados__lista-texto #[strong Emprendimientos] de impacto social apoyados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 12
								p.c-lista-resultados__lista-texto #[strong Eventos de networking], inspiración y aprendizaje realizados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 1.193
								p.c-lista-resultados__lista-texto #[strong Participantes] en Eventos IDEA

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 131
								p.c-lista-resultados__lista-texto #[strong Empresas y organizaciones] involucradas

			article.community.container
				h2.clr-pink Nuestra Comunidad
				p La Comunidad IDEA está formada por todas las personas, #[b organizaciones y empresas apasionadas por encontrar soluciones creativas e innovadoras a los desafíos para la salud y derechos reproductivos en América Latina] y que conforman el ecosistema de innovación social de la Iniciativa IDEA.
				.slider
					a(href='http://alharacas.com/'			target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/alharaca.png')
					a(href='https://alterna.pro/'			target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/alterna.png')
					a(href='https://creadorascamp.org/'		target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/creadoras-camp.png')
					a(href='https://www.impaqto.net'		target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/impaqto.png')
					a(href='https://latfem.org/'			target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/latfem.png')
					a(href='http://www.managuafuriosa.com/'	target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/managuafuriosa.png')
					a(href='https://www.weareplanta.com/'	target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/planta.png')
					a(href='https://publicitarias.org/'		target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/publicitarias.png')
					a(href='https://www.sembramedia.org/'	target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/sembrando-media.png')
					a(href='https://wambra.ec/'				target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/wambra.png')
					a(href='https://festivalzarelia.com/'	target="_blank"): img(src=urlFolder+'images/home/nuestra-comunidad/zarelia.png')
				//-a.clr-pink(href='#!')
					u Para saber más

			//-section.news.bg-lightgray
				h2.txt-center NEWS
				.slider.container
					.slide
						.bg-white
							p.news-category.clr-pink Changemakers
							h2 Entrevista a Catalina Ruiz de Creadoras Camp.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Comunidad
							h2 IMPAQTO #[br] lanza #[br] hackathon.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Internacionales
							h2 Iniciativas creativas en el mundo.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Internacionales
							h2 Entrevista a Catalina Ruiz de Creadoras Camp.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Internacionales
							h2 IMPAQTO #[br] lanza #[br] hackathon.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más
					.slide
						.bg-white
							p.news-category.clr-pink Internacionales
							h2 Iniciativas creativas en el mundo.
							p Lorem ipsum dolor sit amet, consectetuer adipiscingelit.
							a.clr-pink(href='#!')
								u Leer más


		include template/_footer

		include template/_scripts
