main.foro-idea{
	padding-top: 0;
	
	.container{
		max-width: 1440px;
	}
	
	section.intro-idea{
		background-color: $rosa;
		padding: 50px 0;
		
		@media #{$escritorio} {
			padding: 125px 0;
		}
		
		&--interna{
			@include escritorio{
				padding: 50px 0;
			}
			
			.logo{
				width: 70% !important;
				
				@include escritorio{
					width: 100% !important;
				}
			}
			
			.texto{
				h1, h2{
					font-size: 20px !important;
					color: $negro;
					font-weight: bold;
					line-height: 29px !important;
					margin: 0;
					max-width: 580px;
					
					@media #{$escritorio} {
						font-size: 30px !important;
						line-height: 36px !important;
					}
				}
			}
		}
		
		.container{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			
			@media #{$escritorio} {
				flex-direction: row;
				align-items: flex-end;
			}
			
			.logo{
				max-width: 470px;
				width: 100%;
				margin-bottom: 30px;
				
				@media #{$escritorio} {
					margin-bottom: 0;
				}
				
				img{
					width: 100%;
				}
				
				
			}
			
			.texto{
				@media #{$escritorio} {
					margin-left: 55px;
				}
				
				p{
					font-size: 18px;
					color: $blanco;
					text-transform: uppercase;
					
					@media #{$escritorio} {
						font-size: 21px;
					}
				}
				
				h1, h2{
					font-size: 26px;
					color: $negro;
					font-weight: bold;
					line-height: 35px;
					margin: 0;
					max-width: 580px;
					
					@media #{$escritorio} {
						font-size: 30px;
					}
				}
			}
		}
		
		.btn{
			margin: 30px 0 0 0;
			
			@include escritorio{
				margin: 100px 0 0 0;
			}
		}
	}
	
	.todo-empieza{
		background-color: $verde;
		padding: 55px 0 70px 0;
		
		&__titulo{
			font: $medium 25px/30px $tipografia-principal !important;
			color: black;
			text-align: center;
			margin: 0 0 25px 0 !important;
			text-transform: none !important;
			
			@include escritorio{
				font: $medium 44px/53px $tipografia-principal !important;
				margin: 0 0 50px 0 !important;
			}
		}
		
		&--gris{
			background: #E8E8E8;
		}
		
		.container{
			text-align: center;
			
			h2{
				font-size: 35px;
				font-weight: bold;
				margin: 0 0 25px 0;
				line-height: 40px;
				
				@media #{$escritorio} {
					font-size: 65px;
					line-height: 80px;
				}
			}
			
			h3{
				font-size: 30px;
				line-height: 35px;
				text-transform: uppercase;
				margin: 0 0 25px 0;
			}
			
			.btn{
				display: table;
				margin: auto;
				
				span{
					padding: 15px 10px;
					
					@media #{$mobile} {
						padding: 25px;
					}
				}
			}
		}
	}
	
	section.edicion{
		position: relative;
		
		@media #{$escritorio} {
			min-height: 640px;
		}
		
		.container{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-direction: column;
			padding: 0;
			
			@media #{$escritorio} {
				flex-direction: row;
				padding: 0 20px;
			}
			
			.imagen{
				@media #{$escritorio} {
					height: 100%;
					width: 50%;
					position: absolute;
					top: 0;
					left: 0;
					overflow: hidden;
				}
				
				img{
					width: 100%;
					
					@media #{$escritorio} {
						position: absolute;
						left: 50%;
						top: 50%;
						min-width: 100%;
						min-height: 100%;
						max-width: none;
						width: auto;
						transform: translateX(-50%) translateY(-50%);
					}
				}
			}
			
			.texto{
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 50px 20px;
				
				@media #{$escritorio} {
					width: 50%;
					min-height: 640px;
					padding: 50px 0 50px 10%;
				}
				
				h2{
					font-size: 45px;
					line-height: 50px;
					font-weight: bold;
					color: $rosa;
					margin: 0 0 36px 0;
				}
				
				p{
					font-size: 24px;
					line-height: 28px;
				}
			}
		}
	}
	
	.descripcion-evento{
		padding: 100px 0;
		background-color: $rosa;
		
		hr{
			max-width: 600px;
			width: 100%;
			height: 1px;
			display: block;
			margin: 65px auto;
			background-color: $negro;
			border: none;
		}
		
		p{
			text-align: center;
			margin: 0 0 25px 0;
		}
	}
	
	section.evento{
		padding: 50px 0;
		
		@media #{$escritorio} {
			padding: 125px 0;
		}
		
		.container{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			
			@media #{$escritorio} {
				flex-direction: row;
			}
			
			.imagen{
				margin-bottom: 30px;
				
				@media #{$escritorio} {
					margin-bottom: 0;
				}
				
				p{
					color: $rosa;
					font-size: 12px;
					text-transform: uppercase;
					margin: 0 0 40px 0;
				}
				
				img{
					max-width: 370px;
					width: 100%;
				}
			}
			
			.texto{
				max-width: 590px;
				
				@media #{$escritorio} {
					margin-left: 100px;
				}
				
				h2{
					font-size: 23px;
					font-weight: bold;
					margin: 0 0 25px 0;
					line-height: 28px;
				}
				
				p{
					font-size: 23px;
					line-height: 28px;
				}
			}
		}
	}
	
	section.ponentes{
		padding: 0 0 50px 0;
		
		@media #{$escritorio} {
			padding: 0 0 80px 0;
		}
		
		h2{
			color: $rosa;
			font-size: 45px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			margin: 0 0 60px 0;
		}
		
		ul{
			list-style-type: none;
			margin: 0 -15px 0 -15px;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			width: calc(100% + 30px);
			
			@media #{$escritorio} {
				margin: 0 -30px 0 -30px;
				width: calc(100% + 60px);
			}
			
			li{
				width: 50%;
				padding: 0 15px;
				margin-bottom: 50px;
				
				@media #{$mobile} {
					width: 33%;
				}
				
				@media #{$escritorio} {
					width: 20%;
					padding: 0 30px;
				}
				
				.imagen{
					margin-bottom: 15px;
					width: 100%;
					display: block;
					position: relative;
					height: 275px;
					overflow: hidden;
					
					img{
						position: absolute;
						min-height: 100%;
						min-width: 100%;
						top: 50%;
						left: 50%;
						max-width: none;
						transform: translateX(-50%) translateY(-50%);
					}
				}
				
				h3{
					font-size: 25px;
					font-weight: 500;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				
				p{
					font-size: 22px;
					line-height: 26px;
					white-space: normal;
					text-overflow: ellipsis;
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
				}
				
				a{
					font-size: 22px;
					color: $rosa;
					transition: all 0.5s ease-in;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					
					&:hover{
						color: $negro;
					}
				}
			}
		}
	}
	
	section.agenda{
		background-color: $verde;
		padding: 50px 0;
		
		@media #{$escritorio} {
			padding: 120px 0;
		}
		
		h2{
			font-size: 45px;
			color: $negro;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 0 35px 0;
		}
		
		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: flex;
			
			&.menu-agenda{
				justify-content: center;
				margin: 0 0 40px 0;
				
				@media #{$escritorio} {
					margin: 0 0 90px 0;
				}
				
				li{
					margin-left: 20px;
					max-width: 380px;
					width: 100%;
					
					@media #{$escritorio} {
						margin-left: 60px;
					}
					
					&:first-child{
						margin-left: 0;
					}
					
					.btn{
						max-width: 380px;
						width: 100%;
						display: block;
						
						span{
							font-size: 18px;
							
							@media #{$escritorio} {
								font-size: 23px;
							}
						}
						
					}
				}
			}
			
			&.contenido-agenda{
				flex-direction: column;
				display: none;
				
				&.active{
					display: block;
				}
				
				li{
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 35px 0;
					border-bottom: 1px solid $negro;
					flex-direction: column;
					
					
					
					@media #{$escritorio} {
						flex-direction: row;
					}
					
					h3{
						font-size: 32px;
						line-height: 38px;
					}
					
					h4{
						font-size: 32px;
						font-weight: lighter;
					}
					
					p{
						font-size: 45px;
						font-weight: $regular;
						margin-bottom: 20px;
						
						@media #{$escritorio} {
							width: 400px;
							font-size: 55px;
							margin-bottom: 0;
						}
					}
					
					.descripcion{
						@media #{$escritorio} {
							margin-left: 100px;
						}
					}
				}
			}
		}
		
		.pie-pagina{
			margin-top: 50px;
			display: flex;
			justify-content: space-between;
			
			p{
				font-size: 22px;
				line-height: 26px;
				
				&.aviso{
					color: $rosa;
				}
			}
		}
	}
	
	section.practicar{
		background: $rosa;
		padding: 50px 0;
		
		@media #{$escritorio} {
			padding: 120px 0;
		}
		
		h2{
			font-size: 46px;
			font-weight: $bold;
			text-transform: uppercase;
			text-align: center;
			margin: 0 0 50px 0;
			
			@media #{$escritorio} {
				margin: 0 0 100px 0;
			}
		}
		
		ul{
			display: flex;
			align-items: flex-start;
			margin: 0;
			padding: 0;
			list-style-type: none;
			flex-wrap: wrap;
			
			@media #{$escritorio} {
				margin-left: -10px;
				width: calc(100% + 20px);
			}
			
			@media #{$escritorio-full} {
				margin-left: -50px;
				width: calc(100% + 100px);
			}
			
			li{
				display: flex;
				align-items: flex-start;
				width: 100%;
				padding-left: 0;
				margin-bottom: 50px;
				
				&:last-child{
					margin-bottom: 0;
				}
				
				@media #{$escritorio} {
					padding: 0 10px;
					width: 33%;
				}
				
				@media #{$escritorio-full} {
					padding: 0 50px;
					width: 33%;
				}
				
				span{
					font-size: 80px;
					font-weight: bold;
					width: 100px;
					display: block;
					
					@media #{$mobile} {
						font-size: 130px;
					}
				}
				
				.descripcion{
					margin-left: 20px;
					
					h3{
						font-size: 24px;
						line-height: 28px;
						text-transform: uppercase;
						font-weight: $bold;
						margin: 0 0 20px 0;
						
						@media #{$mobile} {
							margin: 0 0 40px 0;
						}
					}
					
					p{
						font-size: 24px;
						line-height: 28px;
						text-transform: uppercase;
						font-weight: $regular;
					}
				}
			}
		}
	}
	
	section.formulario{
		padding: 50px 0;
		
		@media #{$escritorio} {
			padding: 90px 0;
		}
		
		h2{
			font-size: 46px;
			line-height: 52px;
			text-align: center;
			font-weight: bold;
			margin: 0 0 35px 0;
		}
		
		p{
			text-align: center;
			font-size: 23px;
			line-height: 36px;
			margin: 0 0 35px 0;
			
			&.texto-rosa{
				color: $rosa;
			}
		}
		
		form{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 940px;
			width: 100%;
			margin: 70px auto 0 auto;
			
			.campo{
				display: flex;
				width: 100%;
				align-items: center;
				margin-bottom: 30px;
				flex-direction: column;
				
				@media #{$mobile} {
					flex-direction: row;
				}
				
				label{
					color: $rosa;
					font-size: 26px;
					line-height: 34px;
					width: 100%;
					text-align: left;
					
					@media #{$mobile} {
						width: 40%;
						text-align: right;
					}
					
					small{
						display: block;
					}
				}
				
				input, select{
					height: 50px;
					width: 100%;
					border: none;
					background-color: $gris-3;
					outline: none;
					padding: 0 20px;
					font-size: 18px;
					
					@media #{$mobile} {
						width: calc(60% - 20px);
						margin-left: 20px;
					}
					
					&:focus{
						border: 1px solid $rosa;
					}
				}
			}
			
			.checkbox{
				max-width: 625px;
				width: 100%;
				margin: 0 0 20px auto;
				
				label{
					font-size: 23px;
					
					input{
						height: 0;
						width: 0;
						visibility: hidden;
						
						&:checked{
							& + span{
								&:after{
									transform: scale(1);
								}
							}
						}
					}
					
					span{
						position: relative;
						padding-left: 65px;
						display: flex;
						align-items: center;
						
						&:before{
							position: absolute;
							content: '';
							display: block;
							height: 50px;
							width: 50px;
							left: 0;
							background-color: $gris-3;
						}
						
						&:after{
							transform: scale(0);
							content: '';
							display: block;
							height: 32px;
							width: 32px;
							background: url("../images/foro-idea/checked.svg") no-repeat center;
							background-size: contain;
							position: absolute;
							left: 8px;
							font-size: 40px;
							transition: all 0.5s ease-in;
						}
						
						a{
							text-decoration: underline;
							color: $negro;
							transition: all 0.5s ease-in;
							
							&:hover{
								color: $rosa;
							}
						}
					}
				}
			}
			
			.btn{
				margin-top: 80px;
				max-width: 380px;
				width: 100%;
			}
		}
	}
	
	section.gracias{
		padding: 50px 0;
		background: $verde;
		
		@media #{$escritorio} {
			padding: 90px 0;
		}
		
		h2{
			font-size: 46px;
			line-height: 52px;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			margin: 0 0 50px 0;
		}
		
		ul{
			display: flex;
			list-style-type: none;
			flex-direction: row;
			align-items: center;
			flex-wrap: wrap;
			
			@media #{$mobile} {
				flex-wrap: nowrap;
			}
			
			li{
				width: 33%;
				padding: 0 15px;
				margin-bottom: 15px;
				
				@media #{$mobile} {
					padding: 0 0 0 30px;
				}
				
				@media #{$escritorio} {
					padding: 0 0 0 70px;
				}
				
				&:first-child{
					padding-left: 0;
				}
			}
		}
	}
	
	section.solucion{
		background: $rosa;
		padding: 50px 0;
		
		@media #{$escritorio} {
			padding: 100px 0;
		}
		
		h2{
			color: $blanco;
			text-align: center;
			font-weight: $bold;
			font-size: 46px;
			line-height: 52px;
		}
		
		p{
			text-align: center;
			font-size: 30px;
			font-style: italic;
			color: $blanco;
			margin: 0 0 55px;
		}
		
		ul{
			display: flex;
			list-style-type: none;
			justify-content: center;
			align-items: center;
			
			&:hover{
				li{
					opacity: 0.7;
				}
			}
			
			li{
				margin-left: 20px;
				transition: all 0.5s ease-in;
				
				@media #{$mobile} {
					margin-left: 60px;
				}
				
				&:hover{
					opacity: 1;
					transform: translateY(-5px);
				}
				
				&:first-child{
					margin-left: 0;
				}
				
				img{
					height: 32px;
					
					@media #{$mobile} {
						height: 42px;
					}
					
					&.twitter{
						height: 25px;
						
						@media #{$mobile} {
							height: 35px;
						}
					}
				}
			}
		}
	}
}

