main#home{
	section.banner{
		background-image: url(../images/icons/i-isotipo.svg);
		background-repeat: no-repeat;
		background-size: auto 142%;
		background-position: 67vw -12%;
		padding-top: 6%;
		padding-bottom: 10%;
		position: relative;
		
		h1 {
			margin: 0 0 5px 0;
			font-size: 37px;
			line-height: 37px;
			
			@include mobile{
				font-size: 50px;
				line-height: 50px;
			}
			
			@media #{$escritorio} {
				font-size: 100px;
				line-height: 89px;
				margin: 0 0 15px 0;
			}
			
			span{
				display: block;
			}
		}
		
		h2 {
			font-size: 22px;
			line-height: 22px;
			max-width: 260px;
			
			@include mobile{
				font-size: 30px;
				line-height: 30px;
				max-width: 375px;
			}
			
			@media #{$escritorio} {
				font-size: 45px;
				line-height: 45px;
				max-width: none;
			}
		}
		
		.scroll {
			position: absolute;
			width: 20px;
			left: 0;
			right: 0;
			margin: auto;
			bottom: 10px;
			
			@media #{$escritorio} {
				width: 45px;
				bottom: 30px;
			}
		}
	}
	
	.why{
		padding: 50px 0;
		
		@media #{$escritorio} {
			padding: 100px 0;
		}
		
		article {
			display: flex;
			position: relative;
			align-items: center;
			margin-bottom: 50px;
			flex-direction: column-reverse;
			
			@media #{$escritorio} {
				margin-bottom: 100px;
				min-height: 440px;
				flex-direction: row;
				padding: 80px 0;
				
				&:nth-child(odd){
					justify-content: flex-start;
				}
				
				&:nth-child(even){
					justify-content: flex-end;
					
					.why-imagen{
						left: 0;
					}
				}
			}
			
			&:last-child{
				margin-bottom: 0;
			}
			
			.why-texto{
				background-color: $rosa;
				padding: 25px;
				width: 100%;
				position: relative;
				z-index: 1;
				
				@media #{$escritorio} {
					max-width: 50%;
					padding: 30px 40px;
				}
				
				h2 {
					margin-bottom: 25px;
					font-size: 30px;
					letter-spacing: 0;
					
					@media #{$escritorio} {
						font-size: 32px;
					}
				}
				
				p{
					font-size: 18px;
					
					@media #{$escritorio} {
						font-size: 23px;
					}
					
					a{
						color: $negro;
						text-decoration: underline;
						transition: all 0.5s ease-in;
						
						&:hover{
							color: $blanco;
						}
					}
				}
			}
			
			.why-imagen{
				width: 100%;
				
				@media #{$escritorio} {
					max-width: 830px;
					height: 100%;
					position: absolute;
					right: 0;
					overflow: hidden;
				}
				
				img{
					width: 100%;
					display: block;
					
					@media #{$escritorio} {
						width: auto;
						position: absolute;
						min-height: 100%;
						min-width: 100%;
						max-width: none;
						top: 50%;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
					}
				}
			}
		}
	}
	
	section.postulate{
		text-align: center;
		padding: 50px 0;
		
		@media #{$escritorio} {
			padding: 70px 0;
		}
		
		h2{
			font-size: 30px;
			line-height: 30px;
			margin-bottom: 10px;
			
			@media #{$escritorio} {
				font-size: 45px;
				line-height: 45px;
			}
		}
		
		h3{
			margin-bottom: 30px;
			
			@media #{$escritorio} {
				margin-bottom: 60px;
			}
		}
		
		p, h3{
			font-size: 18px;
			line-height: 25px;
			
			@media #{$escritorio} {
				font-size: 23px;
				line-height: 30px;
			}
		}
		
		p{
			margin-bottom: 20px;
		}
		
		a{
			color: $rosa;
			text-decoration: underline;
			transition: all 0.5s ease-in;
			
			&:hover{
				color: $negro;
			}
		}
	}
	
	.resultscommunity {
		padding-bottom: 4%;
		text-align: center;
		
		h2 {
			text-align: center;
			padding-bottom: 3%;
		}
		
		.container{
			padding: 0;
		}
		
		.results {
			@media #{$mobile} {
				min-height: 660px;
			}
		}
		
		.results-data1 {
			font-size: 30px;
			line-height: 40px;
			font-weight: 500;
			
			@media #{$mobile} {
				font-size: 70px;
				line-height: 80px;
			}
			
			@media #{$escritorio} {
				font-size: 118px;
				line-height: 125px;
			}
		}
		
		.results-data2 {
			font-size: 16px;
			line-height: 18px;
			
			@media #{$mobile} {
				font-size: 23px;
				line-height: 30px;
			}
			
			@media #{$escritorio} {
				font-size: 30px;
			}
		}
	}
}

#home {
	.community{
		padding: 50px 0;
		
		h2, a{
			text-align: center;
		}
		
		a{
			display: block;
			margin: auto;
		}
	}
	
	.community p {
		padding: 1% 3% 3% 3%;
	}
	
	.results .content-results {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-wrap: wrap;
		
		div {
			width: 30%;
			padding: 2% 3%;
			margin-bottom: 5%;
		}
	}
	
	.results .content-results > div:not(:nth-child(3n)):not(:last-child) {
		border-right: 2px solid #ff4190;
	}
	
	article {
		&.results.bg-lightgray {
			padding-top: 13%;
			padding-bottom: 4%;
		}
		
		&.community {
			padding: 50px 0 !important;
		}
	}
	
	.community .slider {
		margin-bottom: 5%;
		margin-top: 3%;
	}
	
	.news .slider {
		margin-bottom: 5%;
		margin-top: 3%;
	}
	
	.community .slider img {
		margin: 0 auto;
		width: 54%;
	}
	
	.news .slider {
		padding: 0 5%;
	}
	
	.slider {
		.slick-arrow {
			border: 3px solid #ff4190;
			appearance: none;
			background: none;
			color: transparent;
			width: 30px;
			height: 30px;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			border-right-color: transparent;
			border-bottom-color: transparent;
			transform: rotate(-45deg);
			display: block;
			z-index: 10;
			transition: all 0.5s ease-in;
			
			&:hover{
				cursor: pointer;
				transform: rotate(-45deg) translateY(-5px);
			}
		}
		
		.nextArrow.slick-arrow {
			right: 4.19%;
			transform: rotate(135deg);
			
			&:hover{
				transform: rotate(135deg) translateY(5px);
			}
		}
		
		.prevArrow.slick-arrow {
			left: 4.19%;
		}
	}
	
	.slick-track {
		display: flex;
		align-items: stretch;
		
		.slick-slide {
			height: auto;
			
			> div {
				height: 100%;
				
				.slide {
					height: 100%;
					
					.bg-white {
						height: 100%;
					}
				}
			}
		}
	}
	
	.news {
		padding: 4% 0;
		
		h2 {
			margin-bottom: 4%;
		}
		
		.slider .slide {
			padding: 0 25px;
			
			div {
				padding: 6%;
			}
			
			.bg-lightgray {
				padding: 44px 58px 38px 45px;
			}
			
			.title {
				line-height: 55px;
				margin-bottom: 10%;
				margin: 5% 0;
				width: 88%;
				font-size: 39px;
				line-height: 42px;
			}
			
			a {
				margin-top: 16px;
				display: inline-block;
			}
		}
		
		.news-category {
			text-transform: uppercase;
			font-size: 14.5px;
			font-weight: 500;
			margin-bottom: 2%;
		}
	}
}

