@media only screen and (max-width: 1024px) {
	h1, .h1 {
		font-size: 78px;
		line-height: 70px;
	}
	
	h2, .h2 {
		font-size: 33px;
		line-height: 35px;
	}
	
	html, body {
		font-size: 20px;
	}
	
	p {
		font-size: 20px;
		line-height: 23px;
	}
	
	#home {
		
		.results .content-results div {
			width: 33.3%;
			max-width: 290px;
			padding-right: 1%;
			padding-left: 1%;
		}
		
		.postulate {
			padding: 6% 2.5%;
			
			p {
				padding-right: 2%;
				padding-left: 2%;
			}
		}
	}
	
	.community p {
		padding-right: 2%;
		padding-left: 2%;
	}
	
	#home {
		
		.slider .slick-arrow {
			width: 20px;
			height: 20px;
		}
		
		.community .slider img {
			width: 50%;
		}
		
		.news {
			.news-category {
				font-size: 13.5px;
			}
			
			.slider {
				padding: 0 3.75%;
				
				.slide {
					padding: 0 10px;
				}
			}
		}
		
		.slider {
			.prevArrow.slick-arrow {
				left: 2.19%;
			}
			
			.nextArrow.slick-arrow {
				right: 2.19%;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	h1, .h1 {
		font-size: 51px;
		line-height: 48px;
	}
	
	p {
		font-size: 18px;
	}
	
	.i-mobile {
		width: 50px;
		justify-content: center;
		height: 50px;
		
		img {
			width: 60%;
		}
	}
	
	#home {
		article.results.bg-lightgray {
			padding-top: 18%;
		}
		
		.results .content-results {
			padding-top: 3%;
		}
		
		.postulate {
			padding: 8% 2.5%;
		}
		
		article.community {
			padding-top: 7%;
		}
		
		.postulate p {
			padding: 1% 3% 5% 3%;
		}
	}
	
	.community p {
		padding: 1% 3% 5% 3%;
	}
	
	#home .news {
		padding: 7% 0;
		
		.slider {
			padding: 0 3.75%;
		}
		
		h2 {
			margin-bottom: 6%;
		}
	}
}

@media only screen and (max-width: 768px) {}
