main.programas{
	section.informacion{
		position: relative;
		z-index: 1;
		padding: 5px 0 20px 0;
		
		@media #{$escritorio} {
			margin-top: -260px;
			padding: 0;
		}
		
		.container{
			display: flex;
			align-items: flex-start;
			position: relative;
			flex-direction: column-reverse;
			
			@media #{$escritorio} {
				min-height: 570px;
				align-items: center;
				flex-direction: row;
			}
			
			.texto{
				background-color: $blanco;
				padding: 25px;
				max-width: 100%;
				width: 100%;
				margin:  0 auto;
				
				@media #{$escritorio} {
					padding: 40px 70px 55px 50px;
					max-width: 60%;
					width: 100%;
					margin: 0;
				}
				
				h2{
					color: $morado;
					font-size: 25px;
					line-height: 30px;
					margin: 0 0 20px 0;
					
					@media #{$escritorio} {
						font-size: 45px;
						line-height: 55px;
						margin: 0 0 30px 0;
					}
				}
				
				p{
					font-size: 18px;
					line-height: 23px;
					
					@media #{$escritorio} {
						font-size: 30px;
						line-height: 35px;
					}
				}
			}
			
			.imagen{
				width: 100%;
				overflow: hidden;
				z-index: -1;
				
				@media #{$escritorio} {
					position: absolute;
					top: 0;
					height: 570px;
					max-width: 70%;
					right: 20px;
					left: auto;
				}
				
				img{
					max-width: 100%;
					display: block;
					
					@media #{$escritorio} {
						position: absolute;
						min-height: 100%;
						min-width: 100%;
						max-width: none;
						top: 50%;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
					}
				}
			}
		}
	}
	
	section.iconos{
		background-color: $morado;
		padding: 40px 0 4px 0;
		
		@media #{$escritorio} {
			padding: 450px 0 55px 0;
			margin-top: -310px;
		}
		
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			
			li{
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 45px;
				
				@media #{$mobile} {
					margin-left: 30px;
					width: calc(50% - 15px);
					
					&:nth-child(2n+1) {
						margin-left: 0;
					}
				}
				
				@media #{$escritorio} {
					margin-left: 65px;
					width: calc(33% - 43px);
					margin-bottom: 45px;
					
					&:nth-child(2n+1) {
						margin-left: 65px;
					}
					
					&:nth-child(3n+1){
						margin-left: 0;
					}
				}
				
				.imagen{
					width: auto;
					height: 90px;
					margin-bottom: 30px;
					
					@media #{$escritorio} {
						height: 120px;
						margin-bottom: 55px;
					}
					
					img{
						display: block;
						width: auto;
						height: 100%;
					}
				}
				
				p{
					color: $blanco;
					font-size: 20px;
					line-height: 25px;
					text-align: center;
					
					@media #{$escritorio} {
						font-size: 23px;
						line-height: 27px;
					}
				}
			}
		}
		
		h2{
			font-size: 25px;
			line-height: 30px;
			color: $morado-2;
			text-align: center;
			margin-bottom: 40px;
			margin-top: 0;
			
			@media #{$escritorio} {
				margin-top: 50px;
				font-size: 45px;
				line-height: 55px;
				margin-bottom: 95px;
			}
		}
	}
	
	section.articulos{
		padding: 40px 0;
		
		@media #{$escritorio} {
			padding: 145px 0 0 0;
		}
		
		.articulo{
			display: flex;
			align-items: flex-end;
			margin-bottom: 60px;
			min-height: 570px;
			position: relative;
			flex-direction: column-reverse;
			
			@media #{$escritorio} {
				flex-direction: row;
				margin-bottom: 225px;
			}
			
			.texto{
				background-color: $gris-2;
				padding: 30px;
				width: 100%;
				position: relative;
				
				@media #{$escritorio} {
					transform: translateY(140px);
					max-width: 54%;
					padding: 45px 80px;
				}
				
				h2{
					color: $morado;
					font-size: 25px;
					line-height: 35px;
					margin: 0 0 15px 0;
					
					@media #{$escritorio} {
						font-size: 45px;
						line-height: 55px;
					}
				}
				
				p, ul li{
					font-size: 20px;
					line-height: 25px;
					margin-bottom: 25px;
					
					@media #{$escritorio} {
						font-size: 29px;
						line-height: 35px;
						margin-bottom: 48px;
					}
				}
				
				ul{
					margin: 0;
					padding: 0;
					list-style-type: none;
					
					li{
						padding-left: 20px;
						position: relative;
						
						&:before{
							content: '';
							display: block;
							height: 13px;
							width: 13px;
							border-radius: 50%;
							border: 3px solid $morado;
							position: absolute;
							left: 0;
							top: 10px;
						}
					}
				}
			}
			
			.imagen{
				width: 100%;
				
				@media #{$escritorio} {
					position: absolute;
					z-index: -1;
					height: 570px;
					overflow: hidden;
					top: 0;
					max-width: 70%;
				}
				
				img{
					display: block;

					@media #{$escritorio} {
						min-height: 100%;
						min-width: 100%;
						max-width: none;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translateY(-50%) translateX(-50%);
					}
				}
			}
			
			&:nth-child(even){
				.imagen{
					right: 0;
				}
			}
			
			&:nth-child(odd){
				@media #{$escritorio} {
					flex-direction: row-reverse;
				}
				
				.imagen{
					left: 0;
				}
			}
		}
	}
	
	section.programa{
		padding-bottom: 40px;
		
		@media #{$escritorio} {
			padding-bottom: 190px;
		}
		
		h2{
			color: $morado;
			text-align: center;
			margin: 0 0 30px 0;
			font-size: 25px;
			line-height: 30px;
			font-weight: $medium;
			
			@media #{$escritorio} {
				margin: 0 0 90px 0;
				font-size: 45px;
				line-height: 54px;
			}
		}
		
		ul{
			list-style-type: none;
			margin: 0 auto;
			max-width: 1200px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			
			li{
				display: flex;
				justify-content: center;
				width: 50%;
				margin-bottom: 20px;
				padding: 0 5px;
				
				@media #{$escritorio} {
					width: 25%;
					margin-bottom: 0;
				}
			}
		}
	}
	
	&.quienes-somos{
		section.informacion{
			padding: 30px 0;
			margin-top: 0;
			
			.container{
				margin-bottom: 30px;
				
				@media #{$escritorio} {
					margin-bottom: 65px;
				}
				
				&:nth-child(odd){
					justify-content: flex-end;
					
					.imagen{
						right: auto;
						left: 0;
					}
				}
				
				.imagen{
					img{
						display: block;
					}
					
					@media #{$escritorio} {
						max-width: 800px;
					}
				}
				
				.texto{
					background-color: $rosa;
					
					@media #{$escritorio} {
						max-width: 630px;
					}
					
					p{
						font-size: 20px;
						line-height: 25px;
						
						@media #{$escritorio} {
							font-size: 23px;
							line-height: 28px;
						}
					}
					
					a{
						color: white;
						text-decoration: underline;
						transition: color 0.5s ease-in;
						
						&:hover{
							color: $negro;
						}
					}
				}
			}
		}
		
		section.iconos{
			background-color: $rosa;
			margin-top: 0;
			padding: 70px 0 55px 0;
			
			h2{
				color: $blanco;
			}
		}
	}
}
