//-Incluir MIXIN
include ../mixins/_nav

//- Información del Sitio
- var site 			= { }

- site[ 'name' 	] 	= "Iniciativa Idea"
- site[ 'url' 	] 	= ""
- site[ 'home' 	] 	= "index.html"
- site[ 'brand' ] 	= ""
- site[ 'lang' 	]	= "es"
- site[ 'globals']	= ['main']


- var page = { }
	- page[ 'fonts' ] = [  ]

//- Menu Principal
- var menu 			= {  }

-menu[ 'main' ] 	= [ { name : '', url : '' }, { name : '', url : '' } ]















