.c-acordeon{
	padding: 40px 0;
	
	@include escritorio{
		padding: 85px 0 120px 0;
	}
	
	&__titulo{
		font: $medium 25px/30px $tipografia-principal;
		color: $negro;
		text-align: center;
		margin: 0 0 25px 0;
		
		@include escritorio{
			font: $medium 45px/54px $tipografia-principal;
			margin: 0 0 50px 0;
		}
	}
	
	&__lista{
		margin: 0 !important;
		padding: 0;
		
		&-titulo{
			padding: 12px 0;
			border-bottom: 1px solid $naranja;
			cursor: pointer;
			
			@include escritorio{
				padding: 22px 0;
			}
			
			&:hover{
				.c-acordeon__lista-icono{
					transform: translateY(calc(-50% - 5px));
				}
			}
			
			&.is-active{
				.c-acordeon__lista-icono{
					&:after{
						opacity: 0;
					}
				}
			}
		}
		
		&-encabezado{
			font: $regular 22px/37px $tipografia-principal;
			max-width: 800px;
			width: 100%;
			color: $naranja;
			margin: auto;
			position: relative;
			display: flex;
			align-items: center;
			transition: all 0.5s ease-in;
			
			@include escritorio{
				font: $regular 32px/37px $tipografia-principal;
			}
		}
		
		&-icono{
			position: absolute;
			height: 14px;
			width: 14px;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.5s ease-in;
			
			&:after, &:before{
				content: '';
				position: absolute;
				display: block;
				background-color: $naranja;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
			
			&:before{
				width: 100%;
				height: 2px;
			}
			
			&:after{
				height: 100%;
				width: 2px;
				transition: all 0.5s ease-in;
			}
		}
		
		&-contenido{
			padding: 40px 0;
			
			@include escritorio{
				padding: 70px 0 100px 0;
			}
			
			&:not(.is-active){
				display: none;
			}
		}
		
		&-contenedor{
			max-width: 1000px;
			width: 100%;
			margin: auto;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			
			@include escritorio{
				flex-direction: row;
			}
		}
		
		&-imagen{
			max-width: 290px;
			width: 100%;
			margin-right: 50px;
			margin-bottom: 30px;
			
			@include escritorio{
				margin-bottom: 0;
			}
		}
		
		&-texto{
			max-width: 670px;
			
			p{
				font: $regular 20px/25px $tipografia-principal;
				
				@include escritorio{
					font: $regular 23px/30px $tipografia-principal;
				}
				
				span{
					color: $naranja;
				}
			}
			
			a{
				text-decoration: underline;
				color: $negro;
				transition: color 0.5s ease-in;
				
				&:hover{
					color: $naranja;
				}
			}
		}
		
		&-resumen{
			margin-bottom: 40px;
		}
	}
	
	&--verde{
		.texto-verde{
			margin-top: 30px;
			
			&:first-of-type{
				margin-top: 0;
			}
			
			a{
				color: $verde-cuatro;
				
				&:hover{
					color: $verde-tres;
				}
			}
		}
	}
	
	&--verde #{&}{
		&__lista{
			&-titulo{
				border-bottom: 1px solid $verde-cuatro;
			}
			
			&-encabezado{
				color: $verde-cuatro;
			}
			
			&-icono{
				&:after, &:before{
					background-color: $verde-cuatro;
				}
			}
		}
	}
}
