.c-banner-principal{
	padding: 15px 0 10px 0;
	
	@include escritorio{
		padding: 15px 0 50px 0;
	}
	
	&--gris{
		background-color: $gris-1;
	}
	
	&__menu{
		display: none;
		
		@include escritorio{
			list-style-type: none;
			margin: 0;
			padding: 0;
			align-items: center;
			display: flex;
			justify-content: center;
		}
		
		li{
			margin-left: 40px;
			
			@include escritorio{
				font-size: 65px;
			}
			
			&:first-child{
				margin-left: 0;
			}
			
			a{
				font: $medium 20px/30px $tipografia-principal;
				color: $negro;
				transition: color 0.5s ease-in;
				position: relative;
				display: flex;
				align-items: center;
				
				&.active{
					color: $rosa;
					cursor: initial;
					text-decoration: underline;
				}
				
				&:hover{
					color: $rosa;
				}
				
				&:after{
					display: block;
					content: '';
					position: absolute;
					width: 0;
					height: 0;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
					border-top: 6px solid $rosa;
					right: -20px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	
	&__texto{
		padding-top: 30px;
		display: block;
		
		@include escritorio{
			padding-top: 75px;
		}
		
		h1{
			margin: 0 0 20px 0;
			font: $bold 26px/32px $tipografia-principal;
			color: $negro;
			
			@include escritorio{
				margin: 0 0 30px 0;
				font: $bold 32px/40px $tipografia-principal;
			}
		}
		
		p{
			font: $regular 22px/28px $tipografia-principal;
			margin: 0 0 20px 0;
			color: $negro;
			
			@include escritorio{
				font: $regular 50px/55px $tipografia-principal;
			}
			
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		
		&--texto-small {
			font: $regular 20px/25px $tipografia-principal !important;
			margin-top: 20px;
			
			@include escritorio{
				font: $regular 32px/30px $tipografia-principal !important;
			}
		}
	}
	
	&--verde{
		h1{
			color: $verde-cuatro;
		}
	}
}
