.c-banner-imagen-full{
	padding: 50px 0;
	position: relative;
	
	@include escritorio{
		padding: 100px 0;
	}
	
	&__container{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		
		@include escritorio{
			flex-direction: row;
		}
	}
	
	&__texto{
		@include escritorio{
			width: 65%;
			padding: 0 100px 0 0;
		}
		
		h2{
			font: $bold 35px/44px $tipografia-principal;
			margin: 0 0 15px 0;
			
			@media #{$escritorio} {
				font: $bold 45px/54px $tipografia-principal;
			}
		}
		
		h3{
			font: $bold 30px/35px $tipografia-principal;
			margin: 0 0 30px 0;
			
			@media #{$escritorio} {
				font: $bold 45px/50px $tipografia-principal;
			}
		}
		
		p, ul li{
			font: $regular 20px/25px $tipografia-principal;
			margin-bottom: 30px;
			
			@media #{$escritorio} {
				font: $regular 25px/30px $tipografia-principal;
			}
		}
		
		ul{
			list-style-type: none;
			margin-bottom: 30px;
			
			li{
				padding-left: 30px;
				margin: 0;
				position: relative;
				
				&:before{
					content: '';
					display: block;
					height: 14px;
					width: 14px;
					border-radius: 50%;
					border: 3px solid $rosa;
					position: absolute;
					left: 0;
					top: 8px;
				}
			}
		}
		
		&--lista-morado{
			li{
				&:before{
					border: 3px solid $morado !important;
				}
			}
		}
	}
	
	&__imagen{
		@include escritorio{
			position: absolute;
			width: 35%;
			height: 100%;
			right: 0;
			top: 0;
			overflow: hidden;
		}
		
		
		img{
			display: block;
			
			@include escritorio{
				position: absolute;
				min-height: 100%;
				min-width: 100%;
				max-width: none;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
	
	.btn{
		max-width: 280px;
		margin: 0 auto 40px auto;
	}
	
	&--gris{
		background: $gris-2;
	}
	
	&--naranja{
		background: $naranja;
		
		.c-banner-imagen-full{
			&__texto {
				h3, p{
					color: $blanco;
				}
			}
		}
	}
	
	&--mitad{
		.c-banner-imagen-full{
			&__texto {
				@include escritorio {
					width: 50%;
				}
			}
			
			&__imagen{
				@include escritorio{
					width: 50%;
				}
			}
		}
	}
	
	&--reversa{
		.c-banner-imagen-full{
			&__container{
				@include escritorio{
					flex-direction: row-reverse;
				}
			}
			
			&__texto {
				@include escritorio {
					padding: 0 0 0 100px;
				}
			}
			
			&__imagen{
				@include escritorio{
					left: 0;
					top: 0;
					right: auto;
					overflow: hidden;
				}
			}
		}
	}
	
	&--amarillo{
		padding: 50px 0 ;
	}
	
	&--amarillo #{&}{
		&__texto{
			ul{
				li{
					margin-bottom: 30px;
					
					&:before{
						border: 3px solid $amarillo-2 !important;
					}
				}
			}
		}
	}
}
