.c-contenido-agenda{
	background: rgba(#EAEAEA, 0.4);
	padding: 30px 0 55px 0;
	scroll-margin-top: 150px;
	
	&__container{
		max-width: 1160px !important;
	}
	
	&__titulo{
		font: $medium 40px/59px $tipografia-principal;
		color: $rosa;
		text-transform: uppercase;
		padding: 0 0 0 20px;
		
		@include escritorio{
			font: $medium 45px/64px $tipografia-principal;
		}
	}
	
	&__fecha{
		font: $medium 20px/29px $tipografia-principal;
		text-transform: uppercase;
		padding: 0 0 0 20px;
	}
	
	&__entradas{
		margin: 25px 0 0 0;
		list-style-type: none;
		max-height: 1350px;
		overflow-y: auto;
	}
	
	&__entrada{
		background: white;
		margin: 0 0 25px 0;
		padding: 25px;
	}
	
	&__item{
		display: flex;
		align-items: flex-start;
		margin: 0 0 20px 0;
		flex-direction: column;
		
		@include escritorio{
			flex-direction: row;
		}
		
		&-titulo{
			min-width: 150px;
			
			p{
				font: $medium 12px/18px $tipografia-principal;
				text-transform: uppercase;
				color: #616161;
			}
		}
		
		&-descripcion{
			max-width: 820px;
			width: 100%;
			
			&--xl{
				font: $bold 25px/29px $tipografia-principal;
			}
			
			font: $regular 20px/29px $tipografia-principal;
			
			&--ponentes{
				display: flex;
				align-items: flex-start;
			}
		}
		
		&-ponente{
			display: flex;
			flex-direction: column;
			max-width: 150px;
			margin: 0 0 0 25px;
			
			&:first-child{
				margin: 0;
			}
		}
		
		&-imagen-ponente{
			img{
				display: block;
				margin: 0 0 5px 0;
			}
		}
		
		&-contenido-ponente{
			&-titulo{
				font: $bold 17.5px/25px $tipografia-principal;
				letter-spacing: -0.37px;
			}
			
			&-descripcion{
				font: $regular 15.2px/16.8px $tipografia-principal;
				letter-spacing: -0.32px;
				color: #616161;
			}
		}
	}
	
	&__ver-mas{
		font: $medium 20px/29px $tipografia-principal;
		color: $rosa;
		text-decoration: underline;
		transition: color 0.5s ease;
		position: relative;
		
		&:hover{
			color: black;
			
			&:after{
				transform: translateX(5px) translateY(-50%);
			}
		}
		
		&:after{
			top: 50%;
			left: 110%;
			transform: translateY(-50%);
			content: '';
			display: block;
			height: 13px;
			width: 25px;
			position: absolute;
			background: url(../images/icons/i-arrow.svg) no-repeat center;
			transition: all 0.5s ease;
		}
	}
}
