.c-cards{
	background: $gris-2;
	padding: 50px 0 0 0;
	
	&__titulo, &__subtitulo{
		font: $medium 25px/30px $tipografia-principal;
		color: black;
		text-align: center;
		margin: 0 0 25px 0;
		
		@include escritorio{
			font: $medium 44px/53px $tipografia-principal;
			margin: 0 0 50px 0;
		}
	}
	
	&__lista{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 20px;
		position: relative;
		z-index: 1;
		
		@include escritorio{
			grid-gap: 8%;
			grid-template-columns: repeat(3, 1fr);
		}
	}
	
	&__item{
		display: flex;
		flex-direction: column;
		background: white;
		padding: 50px 35px 30px 35px;
		align-items: center;
	}
	
	&__imagen{
		margin: 0 0 45px 0;
	}
	
	&__texto{
		text-align: center;
		font: $medium 20px/25px $tipografia-principal;
		
		@include escritorio{
			font: $medium 28px/33px $tipografia-principal;
		}
	}
	
	&__container-subtitulo{
		background: $amarillo-2;
		padding: 30px 0 30px;
		position: relative;
		
		@include escritorio{
			padding: 90px 0 60px 0;
		}
		
		&:before{
			content: '';
			display: block;
			height: 60%;
			width: 100%;
			position: absolute;
			bottom: 100%;
			left: 0;
			background: $amarillo-2;
			z-index: 0;
		}
	}
}
