.c-cards-botones{
	background: $amarillo-2;
	padding: 50px 0;
	
	@include escritorio{
		padding: 90px 0 60px 0;
	}
	
	&__lista{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		
		@include escritorio{
			grid-gap: 0;
			grid-template-columns: repeat(3, 1fr);
		}
	}
	
	&__item{
		padding: 20px 20px 50px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border-bottom: 1px solid black;
		
		@include escritorio{
			border-bottom: none;
			border-right: 1px solid black;
			padding: 15px 60px;
		}
		
		&:nth-child(3n+1){
			@include escritorio{
				padding-left: 0;
			}
		}
		
		&:nth-child(3n+3){
			@include escritorio{
				padding-right: 0;
				border-right: none;
			}
		}
		
		&:last-child{
			border-bottom: none;
			border-right: none;
			padding: 20px 20px 0 20px;
			
			@include escritorio{
				padding: 15px 0 15px 60px;
			}
		}
	}
	
	&__texto{
		font: $regular 22px/28px $tipografia-principal;
		text-align: center;
		margin: 0 0 45px 0;
		
		@include escritorio{
			font: $regular 32px/38px $tipografia-principal;
		}
	}
	
	.btn{
		max-width: 280px;
		width: 100%;
		margin: 0 auto;
	}
}
