.c-contenido-speakers{
	padding: 80px 0;
	background: #EAEAEA;
	scroll-margin-top: 150px;
	transition: all 0.5s ease;
	
	@include escritorio{
		padding: 80px 0 200px 0;
	}
	
	&__container{
		max-width: 1220px !important;
	}
	
	&__titulo{
		font: $medium 25px/30px $tipografia-principal;
		color: $rosa;
		text-align: center;
		margin: 0 0 25px 0;
		
		@include escritorio{
			font: $medium 45px/54px $tipografia-principal;
			margin: 0 0 50px 0;
		}
	}
	
	&__speakers{
		display: grid;
		list-style-type: none;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
		max-height: 950px;
		overflow-y: auto;
		padding: 0 10px 10px 10px;
		
		@include mobile{
			grid-template-columns: repeat(3, 1fr);
		}
		
		@include escritorio{
			grid-gap: 40px 55px;
			grid-template-columns: repeat(4, 1fr);
		}
		
		&--interna-agenda{
			padding: 0;
			overflow-y: revert !important;
		}
	}
	
	&__item{
		background: white;
		position: relative;
		z-index: 1;
		transition: transform 0.5s ease;
		
		&:hover{
			transform: translateX(-5px) translateY(-5px);
			
			&:after{
				transform: translateX(10px) translateY(10px);
			}
		}
		
		&:after{
			content: '';
			display: block;
			height: 100%;
			width: 100%;
			background: #c4c0c0;
			top: 0;
			left: 0;
			position: absolute;
			z-index: 0;
			transition: all 0.5s ease;
		}
	}
	
	&__imagen{
		height: 0;
		padding-bottom: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;
		z-index: 1;
		display: block;
		
		img{
			position: absolute;
			min-height: 100%;
			min-width: 100%;
			width: auto;
			height: auto;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}
	
	&__contenido{
		text-align: center;
		padding: 15px;
		position: relative;
		z-index: 1;
		background: white;
		
		&-nombre{
			font: $bold 22px/31px $tipografia-principal;
			letter-spacing: -0.46px;
			margin: 0 0 5px 0;
			
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
		}
		
		&-pais{
			font: $bold 12px/18px $tipografia-principal;
			letter-spacing: -0.25px;
			color: #616161;
			text-transform: uppercase;
			margin: 0 0 5px 0;
			
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
		}
		
		&-profesion{
			font: $regular 19px/21px $tipografia-principal;
			letter-spacing: -0.4px;
			color: #616161;
			min-height: 66px;
			margin: 0 0 14px 0;
			
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
		}
		
		&-redes-sociales{
			display: flex;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			
			&--interna-speaker{
				justify-content: flex-start;
				margin: 45px 0 0 0;
				position: relative;
				
				&:before{
					content: '';
					display: block;
					height: 1px;
					width: 93px;
					background: #979797;
					position: absolute;
					top: -24px;
				}
			}
		}
		
		&-red{
			width: 30px;
			height: 30px;
			background: $rosa;
			padding: 8px;
			margin: 0 0 0 5px;
			transition: all 0.5s ease;
			display: flex;
			align-items: center;
			justify-content: center;
			
			&:first-child{
				margin: 0;
			}
			
			a{
				display: block;
				width: 100%;
			}
			
			img{
				display: block;
			}
			
			&:hover{
				background: black;
			}
		}
	}
}
