body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.c-error-404{
	background-color: $rosa;
	padding: 100px 0;
	
	&__titulo{
		font: $medium 40px/40px $tipografia-principal;
		margin: 0;
		text-align: center;
		color: $blanco;
		
		@include escritorio{
			font: $medium 80px/80px $tipografia-principal;
		}
	}
	
	&__boton{
		max-width: 300px;
		margin: 30px auto 0 auto;
		
		span{
			letter-spacing: 0 !important;
		}
	}
}
