.c-formulario-extenso{
	padding: 40px 0;
	
	@include escritorio{
		padding: 80px 0;
	}
	
	&__titulo{
		font: $medium 25px/30px $tipografia-principal;
		text-align: center;
		margin: 0 0 30px 0;
		
		@include escritorio{
			font: $medium 45px/54px $tipografia-principal;
			margin: 0 0 72px 0;
		}
	}
	
	&__subtitulo{
		font: $medium 25px/30px $tipografia-principal;
		color: $negro;
		text-align: center;
		margin: 0 0 20px 0;
		
		@include escritorio{
			font: $medium 30px/36px $tipografia-principal;
			margin: 0 0 30px 0;
		}
		
		i{
			display: block;
			font-weight: $medium;
		}
	}
	
	&__formulario{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 940px;
		width: 100%;
		margin: auto;
		
		&--campo{
			display: flex;
			width: 100%;
			align-items: center;
			margin-bottom: 15px;
			flex-direction: column;
			
			@include mobile{
				flex-direction: row;
				margin-bottom: 30px;
			}
			
			label{
				color: $negro;
			}
		}
		
		&--multiselect{
			.select-wrapper{
				margin: 0 auto 30px auto;
			}
		}
		
		.checkbox{
			span{
				&:before{
					background-color: $blanco;
				}
			}
		}
		
		&--lista{
			list-style-type: none;
			
			&-simple{
				max-width: 750px;
				margin: 0 auto 30px auto;
				
				@include escritorio{
					margin: 0 auto 60px auto;
				}
			}
			
			&-triple{
				max-width: 580px;
				width: 100%;
				display: flex;
				align-items: center;
				margin: 0 auto 30px auto;
				flex-wrap: wrap;
				flex-direction: column;
				
				@include escritorio{
					margin: 0 auto 60px auto;
					flex-direction: row;
				}
				
				li{
					width: 100%;
					margin-bottom: 5px;
					
					@include escritorio {
						width: 33%;
						margin-bottom: 50px;
					}
					
					span{
						align-items: center;
					}
				}
			}
			
			&-doble{
				max-width: 700px;
				margin: 0 auto 30px auto;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				
				@include escritorio{
					flex-direction: row;
					margin: 0 auto 60px auto;
				}
				
				li{
					width: 100%;
					margin-bottom: 15px;
					display: flex;
					align-items: center;
					
					@include escritorio{
						margin-bottom: 50px;
						width: 50%;
					}
					
					span{
						align-items: center;
					}
				}
			}
		}
		
		h4{
			font-size: 30px;
			line-height: 35px;
			font-weight: bold;
			text-align: center;
			margin: 0 0 20px 0;
			
			@media #{$escritorio} {
				font-size: 45px;
				line-height: 54px;
			}
		}
		
		h5{
			color: $naranja;
			text-align: center;
			font-size: 20px;
			line-height: 25px;
			font-style: italic;
			font-weight: $regular;
			
			@media #{$escritorio} {
				font-size: 30px;
				line-height: 35px;
			}
		}
		
		.btn{
			max-width: 190px;
			width: 100%;
			margin: 0 auto 80px auto;
		}
	}
	
	&--morado{
		.c-formulario-extenso{
			&__subtitulo{
				color: $morado;
			}
			
			&__formulario{
				&--campo{
					label{
						color: $morado;
					}
				}
				
				input, select, textarea{
					background: $gris-3;
				}
				
				.checkbox, .inputRadio{
					label{
						span{
							&:before{
								background: $gris-3;
							}
						}
					}
				}
			}
		}
	}
	
	&--naranja{
		background: $gris-2;
		
		.c-formulario-extenso{
			&__subtitulo{
				color: $naranja;
			}
			
			&__formulario{
				&--campo{
					label{
						color: $naranja;
					}
				}
			}
		}
	}
}
