.c-header{
	height: $header-mobil;
	
	@include mobile{
		height: $header-tablet;
	}
	
	@include escritorio{
		height: $header-escritorio;
	}
	
	&__fixed{
		background-color: $blanco;
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}
	
	&__content {
		align-items: center;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}
	
	&__logos {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 7px 0;
		
		@include escritorio {
			padding: 10px 0 10px 40px
		}
		
		&-item{
			display: block;
		}
		
		&-principal{
			width: 100%;
			max-width: 85px;
			
			@include mobile-dos{
				max-width: 102px;
			}
			
			@include escritorio{
				max-width: 130px;
			}
		}
		
		&-secundario{
			width: 100%;
			max-width: 80px;
			margin: 0 0 0 15px;
			
			@include mobile-dos{
				max-width: 120px;
			}
			
			@include escritorio{
				max-width: 210px;
				margin: 0 0 -5px 40px
			}
		}
	}
	
	&__menu{
		&-lista {
			display: flex;
			list-style: none;
			text-decoration: none;
			position: absolute;
			flex-direction: column;
			justify-content: center;
			top: 0;
			right: 0;
			background-color: $rosa;
			height: 100vh;
			width: 250px;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
			transform: translateX(300px);
			transition: all 0.5s ease-in;
			
			@include escritorio{
				align-items: center;
				background-color: transparent;
				transform: none;
				box-shadow: none;
				height: auto;
				width: auto;
				position: static;
				flex-direction: row;
			}
		}
		
		&-item {
			margin: 10px 0 30px 20px;
			position: relative;
			
			@include escritorio{
				margin: 0;
				padding: 0 20px;
				height: $header-escritorio;
				display: flex;
				align-items: center;
				transition: all 0.5s ease-in;
				
				&:hover{
					background-color: rgba(0, 0, 0, 0.1);
					.c-header__submenu{
						visibility: visible;
						opacity: 1;
						transform: translateY(0) translateX(-50%);
					}
				}
			}
			
			&.cerrar{
				position: absolute;
				top: 0;
				right: 25px;
				width: 25px;
				
				@media #{$escritorio} {
					display: none;
				}
			}
		}
		
		&-enlace {
			font: $medium 22px/22px $tipografia-principal;
			color: $negro;
			transition: all 0.5s ease-in;
			
			@media #{$escritorio} {
				font: $medium 20px/20px $tipografia-principal;
				
				&:hover{
					color: $rosa;
				}
			}
		}
	}
	
	&__submenu{
		list-style-type: none;
		margin: 10px 0 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		
		@include escritorio{
			margin: 0;
			background-color: $blanco;
			position: absolute;
			left: 50%;
			top: 100%;
			width: 200%;
			padding: 20px 10px 20px 20px;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-10px) translateX(-50%);
			transition: all 0.5s ease-in;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
		}
		
		&-item{
			margin: 10px 0 10px 20px;
			
			@include escritorio{
				margin: 0 0 15px 0;
			}
			
			&:last-child{
				@include escritorio{
					margin: 0;
				}
			}
		}
		
		&-enlace{
			font: $medium 20px/20px $tipografia-principal;
			color: $negro;
			transition: all 0.5s ease-in;
			
			@include escritorio{
				&:hover{
					color: $rosa;
				}
			}
		}
	}
	
	&__buscar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: $header-mobil;
		height: $header-mobil;
		background-color: $negro;
		transition: all 0.5s ease-in;
		
		@include mobile{
			width: $header-tablet;
			height: $header-tablet;
		}
		
		@include escritorio{
			width: $header-escritorio;
			height: $header-escritorio;
			
			&:hover{
				background-color: $rosa;
				cursor: pointer;
			}
		}
		
		img {
			width: 21px;
			
			@include escritorio{
				width: 23px;
			}
		}
	}
	
	&__mobil{
		background-color: $rosa;
		display: flex;
		align-items: center;
		justify-content: center;
		height: $header-mobil;
		width: $header_mobil;
		
		@include mobile{
			height: $header-tablet;
			width: $header-tablet;
		}
		
		@media #{$escritorio} {
			display: none;
			
			&:hover{
				cursor: pointer;
			}
		}
		
		img{
			width: 40px;
		}
	}
}
