.c-interna-agenda{
	background: #EAEAEA;
	padding: 40px 0 40px 0;
	
	@include escritorio{
		padding: 50px 0 100px 0;
	}
	
	&__regresar{
		&-container{
			max-width: 1150px !important;
		}
		
		&-icon{
			margin-right: 5px;
		}
	}
	
	&__enlace{
		font: $medium 16px/23px $tipografia-principal;
		color: $rosa;
		transition: color 0.5s ease;
		
		&:hover{
			color: black;
		}
	}
	
	&__container{
		max-width: 1100px !important;
	}
	
	&__compartir{
		list-style-type: none;
		display: flex;
	}
	
	&__item{
		font: $medium 20px/29px $tipografia-principal;
		color: $rosa;
		
		&:first-child{
			margin: 0 40px 0 0;
			position: relative;
			
			&:before{
				display: block;
				content: '';
				height: 24px;
				width: 1px;
				background: #979797;
				position: absolute;
				top: 5px;
				right: -20px;
			}
		}
		
		&-enlace{
			font: $medium 20px/29px $tipografia-principal;
			color: $rosa;
			display: flex;
			align-items: center;
			transition: all 0.5s ease;
			
			&:hover{
				color: black;
				
				.c-interna-agenda__item-icon{
					background: black;
				}
			}
		}
		
		&-icon{
			height: 32px;
			min-width: 32px;
			background: $rosa;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 10px 0 0;
			transition: all 0.5s ease;
			
			img{
				max-height: 20px;
				max-width: 20px;
			}
		}
	}
	
	&__titulo{
		font: $bold 35px/40px $tipografia-principal;
		color: #2A2A2A;
		letter-spacing: -0.73px;
		max-width: 820px;
		margin: 54px 0 30px 0;
	}
	
	&__fecha{
		display: flex;
		align-items: center;
		font: $medium 20px/29px $tipografia-principal;
		color: #2A2A2A;
		margin: 0 0 45px 0;
		
		&-icon{
			margin-right: 10px;
		}
	}
	
	&__contenido{
		p, li{
			font: $regular 20px/29px $tipografia-principal;
			color: #2A2A2A;
			margin-bottom: 35px;
		}
	}
	
	&__subtitulo{
		font: $bold 20px/29px $tipografia-principal;
		text-transform: uppercase;
		margin-bottom: 35px;
	}
	
	&__ponente{
		background: white;
		display: flex;
		max-width: 300px;
		width: 100%;
		margin: 0 auto 40px auto;
		flex-direction: column;
		
		@include escritorio{
			flex-direction: row;
			max-width: 630px;
		}
		
		&-imagen{
			height: 265px;
			position: relative;
			width: 100%;
			overflow: hidden;
			
			@include escritorio{
				height: 265px;
				width: 265px;
			}
			
			img{
				min-width: 100%;
				min-height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				display: block;
			}
		}
		
		&-titulo{
			font: $bold 35px/40px $tipografia-principal;
			letter-spacing: -0.73px;
			margin: 0 0 5px 0;
			color: #616161;
		}
		
		&-subtitulo{
			font: $regular 20px/21px $tipografia-principal;
			letter-spacing: -0.42px;
			margin: 0 0 5px 0;
			color: #616161;
		}
		
		&-pais{
			font: $regular 12px/18px $tipografia-principal;
			letter-spacing: -0.25px;
			color: #616161;
			text-transform: uppercase;
		}
		
		&-descripcion{
			padding: 25px;
		}
	}
}
