.c-imagen-texto{
	padding: 40px 0;
	
	@include escritorio{
		padding: 100px 0;
	}
	
	&__container{
		display: flex;
		align-items: center;
		position: relative;
		flex-direction: column;
		margin: 0 auto 50px auto;
		
		@include escritorio{
			margin: 0 auto 100px auto;
			min-height: 520px;
			flex-direction: row;
			align-items: flex-end;
			padding: 0 0 160px 0;
		}
		
		&:last-child{
			margin: 0 auto;
		}
		
		&:nth-child(odd){
			@include escritorio{
				justify-content: flex-end;
			}
			
			.c-imagen-texto__imagen{
				@include escritorio{
					left: 0;
				}
			}
		}
		
		&:nth-child(even){
			@include escritorio{
				justify-content: flex-start;
			}
			
			.c-imagen-texto__imagen{
				@include escritorio{
					right: 0;
				}
			}
		}
	}
	
	&__imagen{
		width: 100%;
		
		@include escritorio{
			min-height: 520px;
			width: 800px;
			overflow: hidden;
			position: absolute;
			z-index: 0;
			top: 0;
		}
		
		img{
			display: block;
			width: 100%;
			
			@include escritorio{
				position: absolute;
				min-width: 100%;
				min-height: 100%;
				max-width: none;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}
	}
	
	&__texto{
		padding: 35px;
		width: 100%;
		background: $naranja;
		position: relative;
		
		@include escritorio{
			transform: translateY(160px);
			max-width: 630px;
		}
		
		&--titulo{
			font: $medium 25px/30px $tipografia-principal;
			margin: 0 0 25px 0;
			
			@include escritorio{
				font: $medium 32px/38px $tipografia-principal;
				margin: 0 0 32px 0;
			}
		}
		
		li, p{
			font-size: 20px;
			line-height: 25px;
			
			@include escritorio{
				font-size: 23px;
				line-height: 27px;
			}
		}
		
		&--lista-ordenada, &--lista{
			list-style-type: none;
			margin: 20px 0 0 0;
			
			li{
				margin: 0 0 25px 0;
				position: relative;
				
				
				@include escritorio{
					padding: 0 0 0 40px;
				}
				
				&:before{
					content: '';
					position: absolute;
					left: 0;
					color: $negro;
				}
			}
		}
		
		&--lista{
			li{
				padding: 0 0 0 20px;
				
				&:before{
					top: 10px;
					height: 10px;
					width: 10px;
					border-radius: 50%;
					border: 3px solid $blanco;
				}
			}
		}
		
		&--lista-ordenada{
			counter-reset: li;
			
			li{
				padding: 0 0 0 20px;
				
				&:before{
					counter-increment: li;
					content: counter(li)".";
				}
			}
		}
	}
	
	&__subtitulo{
		text-align: center;
		font: $regular 40px/35px $tipografia-principal;
		margin: 0 0 40px 0;
	}
	
	&__enlace{
		display: table;
		margin: auto;
		font: $regular 40px/35px $tipografia-principal;
	}
	
	&--morado{
		.c-imagen-texto{
			&__texto{
				background: $morado;
				
				&--titulo{
					color: $blanco;
				}
			}
		}
	}
	
	&--naranja{
		.c-imagen-texto{
			&__texto{
				background: $naranja;
				
				&--titulo{
					color: $negro;
				}
				
				li, p{
					color: $blanco;
				}
			}
		}
	}
	
	&--verde{
		background-color: $gris-2;
		
		.c-imagen-texto{
			&__texto{
				background: $blanco;
				
				&--titulo{
					color: $negro;
				}
				
				li, p{
					color: $negro;
				}
				
				&--lista{
					li{
						&:before{
							border: 3px solid $verde;
						}
					}
				}
			}
		}
	}
	
	&--custom{
		background-color: $gris-2;
		
		.c-imagen-texto{
			&__texto{
				background: $blanco;
				
				&--titulo{
					color: $negro;
				}
				
				li, p{
					color: $negro;
				}
			}
		}
	}
}
