.c-lista-ordenada{
	padding: 40px 0 20px 0;
	
	@include escritorio{
		padding: 100px 0 100px 0;
	}
	
	&__titulo{
		font: $medium 25px/30px $tipografia-principal;
		margin: 0 0 25px 0;
		
		@include escritorio{
			font: $medium 40px/48px $tipografia-principal;
			margin: 0 0 55px 0;
		}
	}
	
	&__lista{
		list-style-type: none;
		counter-reset: li;
		
		li{
			font: $regular 20px/25px $tipografia-principal;
			position: relative;
			padding: 0 0 20px 30px;
			border-bottom: 1px solid $negro;
			margin: 0 0 15px 0;
			
			@include escritorio{
				font: $regular 32px/38px $tipografia-principal;
			}
			
			&:before{
				counter-increment: li;
				content: counter(li)".";
				position: absolute;
				left: 0;
				color: $negro;
				font-weight: $bold;
			}
			
			&:last-child{
				border-bottom: none !important;
			}
		}
		
		&--titulo{
			font: $bold 20px/25px $tipografia-principal;
			
			@include escritorio{
				font: $bold 32px/38px $tipografia-principal;
			}
		}
	}
	
	&--morado{
		.c-lista-ordenada{
			&__titulo{
				color: $morado;
			}
			
			&__lista{
				li{
					border-bottom: 1px solid $morado;
					
					&:before{
						color: $morado;
					}
				}
				
				&--titulo{
					color: $morado;
				}
			}
		}
	}
	
	&--rosa{
		.c-lista-ordenada{
			&__titulo{
				color: $rosa;
			}
			
			&__lista{
				li{
					border-bottom: 1px solid $rosa;
					
					&:before{
						color: $rosa;
					}
				}
				
				&--titulo{
					color: $rosa;
				}
			}
		}
	}
	
	&--fondo-gris{
		background: $gris-2;
	}
}
