.c-logos {
	padding: 40px 0;
	
	@include escritorio {
		padding: 100px 0;
	}
	
	&__titulo {
		font: $bold 25px/30px $tipografia-principal;
		text-align: center;
		color: $amarillo-2;
		margin: 0 0 30px;
		
		@include escritorio {
			font: $bold 42px/48px $tipografia-principal;
			margin: 0 0 60px;
		}
	}
	
	&__lista{
		display: grid;
		list-style-type: none;
		padding: 0;
		margin: 0;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		
		@include escritorio{
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 30px 150px;
		}
	}
	
	&__img{
		max-width: 100%;
		display: block;
		
		@include escritorio{
			max-width: 90%;
		}
	}
}
