.c-logotipos {
	padding: 40px 0;
	
	@include escritorio {
		padding: 100px 0;
	}
	
	&__titulo {
		font: $bold 25px/30px $tipografia-principal;
		text-align: center;
		color: $verde;
		margin: 0 0 30px;
		
		@include escritorio {
			font: $bold 42px/48px $tipografia-principal;
			margin: 0 0 60px;
		}
	}
	
	&__imagen{
		img{
			width: 100%;
		}
	}
	
	&--rosa #{&}{
		&__titulo{
			color: $rosa;
		}
	}
}
