.c-lista-de-logos{
	overflow: hidden;
	padding: 50px 0 0 0;
	
	&__titulo{
		font: $medium 33px/42px $tipografia-principal;
		color: $rosa;
		text-align: center;
		margin: 0 0 10px 0;
		
		@include escritorio{
			font: $medium 45px/54px $tipografia-principal;
		}
	}
	
	p{
		font: $regular 18px/23px $tipografia-principal;
		text-align: center;
		
		@include escritorio{
			font: $regular 23px/28px $tipografia-principal;
		}
	}
	
	&__lista{
		display: flex;
		list-style-type: none;
		flex-wrap: wrap;
		justify-content: center;
		margin: 40px 0 0 -10px;
		width: calc(100% + 20px);
		
		@include escritorio{
			margin: 40px 0 0 -50px;
			width: calc(100% + 100px);
		}
		
		li{
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 5px 10px 5px;
			transition: transform 0.5s;
			
			@include mobile{
				width: 33%;
			}
			
			@include escritorio{
				padding: 0 50px 80px 50px;
				width: 33%;
				
				&:hover{
					transform: translateY(-5px);
				}
			}
			
			img{
				max-height: 100%;
			}
		}
		
		&-contenido{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			position: relative;
			
			@include escritorio{
				max-width: 340px;
			}
			
			&:after{
				content: '';
				display: block;
				padding-bottom: 100%;
			}
			
			.content{
				position: absolute;
				height: 100%;
				width: 100%;
				padding: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	
	&--multicolor{
		.c-lista-de-logos{
			&__lista{
				li{
					&:nth-child(5n+1){
						.c-lista-de-logos__lista-contenido{
							background-color: $verde;
						}
					}
					
					&:nth-child(5n+2){
						.c-lista-de-logos__lista-contenido {
							background-color: $morado;
						}
					}
					
					&:nth-child(5n+3){
						.c-lista-de-logos__lista-contenido {
							background-color: $rosa-tres;
						}
					}
					
					&:nth-child(5n+4){
						.c-lista-de-logos__lista-contenido {
							background-color: $azul;
						}
					}
					
					&:nth-child(5n+5){
						.c-lista-de-logos__lista-contenido {
							background-color: $amarillo;
						}
					}
				}
			}
		}
	}
	
	&--rosa{
		.c-lista-de-logos {
			&__lista {
				&-contenido {
					background-color: $rosa;
					
					img{
						max-width: 90%;
					}
				}
			}
		}
	}
}
