.c-lista-no-ordenada{
	padding: 50px 0 20px 0;
	
	@include escritorio{
		padding: 50px 0;
	}
	
	&__titulo{
		font: $bold 25px/30px $tipografia-principal;
		text-align: center;
		margin: 0 0 25px 0;
		
		@include escritorio{
			font: $bold 45px/50px $tipografia-principal;
			margin: 0 0 60px 0;
		}
	}
	
	&__lista{
		list-style-type: none;
		
		li{
			font: $regular 20px/25px $tipografia-principal;
			margin: 0 0 35px 0;
			padding: 0 0 0 30px;
			position: relative;
			
			@include escritorio{
				font: $regular 23px/30px $tipografia-principal;
			}
			
			&:last-child{
				margin: 0;
			}
			
			&:before{
				content: '';
				display: block;
				height: 14px;
				width: 14px;
				border-radius: 50%;
				border: 3px solid $rosa;
				position: absolute;
				left: 0;
				top: 8px;
			}
		}
	}
}
