.c-lista-resultados{
	background-color: $gris-4;
	padding: 165px 0 40px 0;
	margin: -160px 0 0 0;
	overflow: hidden;
	
	@include escritorio{
		padding: 165px 0 135px 0;
	}
	
	&__titulo{
		font: $bold 30px/35px $tipografia-principal;
		text-align: center;
		margin: 30px 0;
		
		@media #{$escritorio} {
			font: $bold 45px/50px $tipografia-principal;
			margin: 0 0 60px 0;
		}
	}
	
	&__lista{
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 0 0 -20px;
		width: calc(100% + 40px);
		
		@include mobile{
			margin: 0 0 0 -50px;
			width: calc(100% + 100px);
		}
		
		&-contenido{
			max-width: 340px;
			border-bottom: 1px solid $rosa;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 0 20px 0;
			
			@include mobile{
				border-bottom: none;
				
			}
			
			@include escritorio{
				height: 340px;
			}
		}
		
		li{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 20px 20px 20px;
			position: relative;
			
			@include mobile{
				width: 33%;
				padding: 0 50px 30px 50px;
				
				&:nth-child(3n+1){
					&:before{
						display: none;
					}
				}
			}
			
			&:before{
				content: '';
				height: 80%;
				width: 2px;
				background-color: $rosa;
				position: absolute;
				left: 0;
				display: none;
				
				@include mobile{
					display: block;
				}
			}
		}
		
		&-texto{
			text-align: center;
			font-size: 20px;
			line-height: 25px;
			
			@media #{$escritorio} {
				font-size: 30px;
				line-height: 27px;
			}
		}
		
		&-numero{
			font: $medium 70px/60px $tipografia-principal;
			
			@media #{$escritorio} {
				font: $medium 118px/100px $tipografia-principal;
			}
		}
	}
}
