.c-menu-agenda{
	background-color: $verde-tres;
	position: -webkit-sticky;
	position: sticky;
	top: 60px;
	display: block;
	z-index: 9;
	
	@include mobile{
		top: 70px;
	}
	
	@include escritorio{
		top: 80px;
	}
	
	ul{
		display: flex;
		align-items: center;
		justify-content: center;
		list-style-type: none;
	}
	
	li{
		margin-left: 20px;
		position: relative;
		
		@include escritorio{
			margin-left: 130px;
		}
		
		&:before{
			content: '';
			display: block;
			height: 10px;
			width: 10px;
			border-radius: 50%;
			background-color: $verde-seis;
			top: 50%;
			left: -15px;
			position: absolute;
			transform: translateY(-50%);
			
			@include escritorio{
				left: -65px;
			}
		}
		
		&:first-child{
			margin-left: 0;
			
			&:before{
				display: none;
			}
		}
	}
	
	a{
		display: block;
		height: 105px;
		font: $medium 16px/105px $tipografia-principal;
		color: $verde-cinco;
		text-transform: uppercase;
		transition: color 0.5s ease;
		
		@include escritorio{
			font: $medium 20px/105px $tipografia-principal;
		}
		
		&:hover{
			color: $rosa;
		}
		
		&.active{
			color: $rosa;
			position: relative;
			
			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
				width: 0;
				height: 0;
				border-left: 30px solid transparent;
				border-right: 30px solid transparent;
				border-bottom: 20px solid white;
			}
		}
	}
}
