.c-submenu-agenda{
	&__container{
		max-width: 1160px !important;
	}
	
	ul{
		display: flex;
		align-items: center;
		justify-content: space-around;
		list-style-type: none;
		padding: 35px 0;
	}
	
	a{
		display: block;
		
		@include escritorio{
			width: 195px;
		}
		
		&.active{
			span{
				color: white;
			}
		}
		
		&:not(.active){
			span{
				background-color: transparent;
				color: #8D8D8D;
			}
			
			&:after{
				background-color: transparent !important;
			}
		}
		
		&:after{
			background: #D9D9D9 !important;
		}
	}
}
