.c-speakers{
	padding: 40px 0;
	
	@include escritorio{
		padding: 100px 0;
	}
	
	&__titulo{
		font: $bold 25px/30px $tipografia-principal;
		text-align: center;
		color: $verde;
		margin: 0 0 30px;
		
		@include escritorio{
			font: $bold 42px/48px $tipografia-principal;
			margin: 0 0 60px;
		}
	}
	
	&__container{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		
		@include escritorio{
			grid-template-columns: 360px 1fr;
		}
	}
	
	&__nombre-ponente{
		height: 50px;
		border: 1px solid $gris-3;
		display: flex;
		align-items: center;
		padding: 0 15px;
		font-size: 22px;
		position: relative;
		
		@include escritorio{
			display: none;
		}
		
		&.is-active{
			&:after{
				transform: rotate(-225deg) translateY(-5px) translateX(5px);
			}
		}
		
		&:after{
			position: absolute;
			right: 15px;
			transform: rotate(-45deg) translateY(-5px) translateX(5px);
			content: '';
			display: block;
			height: 20px;
			width: 20px;
			border-bottom: 2px solid $gris-3;
			border-left: 2px solid $gris-3;
			transition: all 0.5s ease-in;
		}
	}
	
	&__lista{
		list-style-type: none;
		margin: -31px 0 0 0;
		padding: 10px 15px 0 15px;
		font: $regular 25px/30px $tipografia-principal;
		max-height: 0;
		overflow: auto;
		transition: all 0.5s;
		border: 1px solid $gris-3;
		visibility: hidden;
		opacity: 0;
		
		@include escritorio{
			margin: 0;
			max-height: 500px;
			border: none;
			padding: 0 15px 0 0;
			visibility: visible;
			opacity: 1;
		}
		
		&.is-active{
			max-height: 300px;
			visibility: visible;
			opacity: 1;
			
			@include escritorio{
				max-height: 500px;
			}
		}
		
		&--item{
			margin: 0 0 20px 0;
			position: relative;
			transition: all 0.5s ease-in;
			display: flex;
			flex-direction: column;
			
			&:before, &:after{
				content: '';
				display: block;
				position: absolute;
				background-color: $verde;
				top: 50%;
				transform: translateY(-50%);
				transition: all 0.5s ease-in;
			}
			
			&:before{
				height: 20px;
				width: 2px;
				right: 9px;
			}
			
			&:after{
				height: 2px;
				width: 20px;
				right: 0;
			}
			
			&:hover{
				color: $verde;
				cursor: pointer;
			}
			
			&.active{
				color: $verde;
				text-decoration: underline;
				
				&:before{
					opacity: 0;
				}
			}
		}
	}
	
	&__informacion{
		list-style-type: none;
		padding: 0;
		margin: 0;
		justify-content: center;
		align-items: center;
		
		&--item{
			flex-direction: column;
			max-width: 800px;
			margin: 0 auto;
			display: none;
			
			&.active{
				display: block;
			}
		}
		
		&--imagen{
			display: block;
			max-width: 530px;
			width: 100%;
			height: auto;
			margin: 0 auto 30px auto;
		}
		
		&--titulo{
			color: $verde;
			text-align: center;
			font: $bold 30px/35px $tipografia-principal;
			margin: 0 0 50px 0;
			
			@include escritorio{
				font: $bold 40px/45px $tipografia-principal;
			}
		}
		
		&--descripcion{
			p{
				font: $regular 20px/25px $regular;
				margin: 0 0 20px 0;
			}
			
			&-intro{
				margin: 0 !important;
			}
		}
	}
	
	&--gris{
		background: #f0f0f0;
	}
	
	&--gris #{&}{
		background: #f0f0f0;
		
		&__titulo{
			color: $rosa;
		}
		
		&__lista--item{
			&:after, &:before{
				background-color: $rosa;
			}
			
			&:hover{
				color: $rosa;
			}
			
			&.active{
				color: $rosa;
				
				&:after, &:before{
					background-color: $rosa;
				}
			}
		}
		
		&__informacion{
			&--titulo{
				color: $rosa;
			}
		}
	}
}
