.c-texto-solo{
	padding: 40px 0;
	
	@media #{$escritorio} {
		padding: 90px 0;
	}
	
	&__titulo{
		font: $medium 25px/30px $tipografia-principal;
		color: $negro;
		text-align: center;
		margin: 0 0 25px 0;
		
		@media #{$escritorio} {
			font: $medium 45px/55px $tipografia-principal;
			margin: 0 0 70px 0;
		}
	}
	
	p{
		font: $regular 20px/25px $tipografia-principal;
		margin: 0 0 20px 0;
		color: $negro;
		
		@media #{$escritorio} {
			font: $regular 23px/30px $tipografia-principal;
			margin: 0 0 40px 0;
		}
		
		&:last-of-type{
			margin: 0;
		}
	}
	
	&__divisor{
		max-width: 215px;
		border: none;
		height: 1px;
		background: $negro;
		margin: 35px auto;
	}
	
	&--gris{
		background-color: $gris-2;
		
		.c-texto-solo{
			&__titulo{
				color: $naranja;
			}
			
			&__divisor{
				background: $naranja;
			}
		}
	}
	
	&--morado{
		background: $morado;
		
		.c-texto-solo{
			&__titulo{
				color: $blanco;
			}
			
			&__divisor{
				background: $blanco;
			}
		}
	}
	
	&--verde{
		background: $verde;
	}
	
	&--custom{
		background: inherit;
	}
}
