.c-titulo{
	&__titulo{
		font: $medium 25px/30px $tipografia-principal;
		color: black;
		text-align: center;
		margin: 0 0 25px 0;
		
		@include escritorio{
			font: $medium 44px/53px $tipografia-principal;
			margin: 0 0 50px 0;
		}
	}
}
