.c-tabs{
	background: $gris-2;
	padding: 40px 0;
	
	@include escritorio{
		padding: 100px 0;
	}
	
	&__titulo{
		font: $medium 25px/30px $tipografia-principal;
		text-align: center;
		color: $morado;
		margin: 0 0 30px;
		
		@include escritorio{
			font: $medium 32px/38px $tipografia-principal;
			margin: 0 0 60px;
		}
	}
	
	&__tabs{
		position: relative;
		
		@include escritorio{
			padding: 50px 0 0 0;
		}
		
		&-titulo{
			font: $medium 20px/25px $tipografia-principal;
			color: $morado;
			position: relative;
			background: $blanco;
			padding: 20px;
			margin: 0 0 30px 0;
			
			@include escritorio{
				padding: 0;
				background: transparent;
				font: $medium 23px/30px $tipografia-principal;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				transition: color 0.5s ease-in;
				
				&:hover{
					&:not(.active){
						color: $negro;
						cursor: pointer;
					}
				}
			}
			
			&:first-of-type{
				@include escritorio{
					left: 60%;
				}
			}
			
			&:last-of-type{
				@include escritorio{
					left: 40%;
				}
			}
			
			/*&:first-of-type{
				@include escritorio{
					left: 30%;
				}
			}
			
			&:nth-of-type(3){
				@include escritorio{
					left: 70%;
				}
			}*/
			
			&:before{
				position: absolute;
				content: '';
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid $morado;
				opacity: 1;
				transition: opacity 0.5s ease-in;
				left: 90%;
				bottom: 50%;
				transform: translateY(50%);
				
				@include escritorio{
					left: 50%;
					transform: translateX(-50%);
					bottom: -13px;
					opacity: 0;
				}
			}
			
			
			&.active{
				text-decoration: underline;
				background: $morado;
				color: $blanco;
				
				@include escritorio{
					background: transparent;
					color: $morado;
				}
				
				&:before{
					border-top: 10px solid $blanco;
					
					@include escritorio{
						border-top: 10px solid $morado;
						opacity: 1;
					}
				}
				
				& + .c-tabs__tabs-contenido{
					display: block;
				}
			}
		}
		
		&-contenido{
			padding: 0;
			display: none;
			margin: 0 0 30px 0;
			
			@include escritorio{
				padding: 50px 0 0 0;
				margin: 0;
			}
		}
	}
	
	&__cifras{
		background: $blanco;
		margin: 0;
		padding: 50px 20px;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px;
		color: $morado;
		text-align: center;
		
		@include escritorio{
			grid-template-columns: repeat(4, 1fr);
		}
		
		&-cantidad{
			font: $medium 60px/60px $tipografia-principal;
			
			@include escritorio{
				font: $medium 80px/80px $tipografia-principal;
			}
		}
		
		&-descripcion{
			font: $medium 20px/25px $tipografia-principal;
			
			@include escritorio{
				font: $medium 25px/30px $tipografia-principal;
			}
		}
		
		li{
			position: relative;
			
			&:nth-child(even){
				@media (max-width: 960px){
					&:before{
						display: none;
					}
				}
			}
			
			&:before{
				content: '';
				display: block;
				height: 90%;
				width: 1px;
				background-color: $morado;
				position: absolute;
				right: -5%;
				top: 50%;
				transform: translateY(-50%);
			}
			
			&:last-child{
				&:before{
					display: none;
				}
			}
		}
	}
	
	&__finalistas{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 40px;
		text-align: center;
		
		@include escritorio{
			grid-template-columns: repeat(3, 1fr);
		}
		
		&-descripcion{
			padding: 15px 0 0 0;
			text-align: left;
			font: $medium 18px/23px $tipografia-principal;
			
			@include escritorio{
				font: $medium 20px/24px $tipografia-principal;
			}
		}
	}
	
	&--gris{
		background-color: $gris-2;
	}
	
	&--verde{
		background-color: $verde;
		
		.c-tabs{
			&__titulo{
				color: $blanco;
			}
			
			&__tabs{
				@include escritorio{
					padding: 0;
				}
				
				&-titulo{
					display: none;
				}
			}
			
			&__cifras{
				color: $verde;
				
				@include escritorio{
					grid-template-columns: repeat(5, 1fr);
				}
				
				li{
					&:before{
						background-color: $verde;
					}
				}
			}
		}
	}
}
