.c-video{
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	
	&__iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
	}
	
	&--mediano{
		max-width: 90%;
		margin: auto;
	}
}
