.why{
	padding: 50px 0;
	
	@media #{$escritorio} {
		padding: 100px 0;
	}
	
	article {
		display: flex;
		position: relative;
		align-items: center;
		margin-bottom: 50px;
		flex-direction: column-reverse;
		
		@media #{$escritorio} {
			margin-bottom: 100px;
			min-height: 440px;
			flex-direction: row;
			padding: 80px 0;
			
			&:nth-child(odd){
				justify-content: flex-start;
			}
			
			&:nth-child(even){
				justify-content: flex-end;
				
				.why-imagen{
					left: 0;
				}
			}
		}
		
		&:last-child{
			margin-bottom: 0;
		}
		
		.why-texto{
			background-color: $rosa;
			padding: 25px;
			width: 100%;
			position: relative;
			z-index: 1;
			
			@media #{$escritorio} {
				max-width: 50%;
				padding: 30px 40px;
			}
			
			h2 {
				margin-bottom: 25px;
				font-size: 30px;
				letter-spacing: 0;
				
				@media #{$escritorio} {
					font-size: 32px;
				}
			}
			
			p{
				font-size: 18px;
				
				@media #{$escritorio} {
					font-size: 23px;
				}
				
				a{
					color: $negro;
					text-decoration: underline;
					transition: all 0.5s ease-in;
					
					&:hover{
						color: $blanco;
					}
				}
			}
		}
		
		.why-imagen{
			width: 100%;
			
			@media #{$escritorio} {
				max-width: 830px;
				height: 100%;
				position: absolute;
				right: 0;
				overflow: hidden;
			}
			
			img{
				width: 100%;
				display: block;
				
				@media #{$escritorio} {
					width: auto;
					position: absolute;
					min-height: 100%;
					min-width: 100%;
					max-width: none;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
				}
			}
		}
	}
	
	&--inverso{
		article{
			&:nth-child(odd){
				@include escritorio{
					justify-content: flex-end;
				}
				
				.why-imagen{
					@include escritorio{
						right: auto;
						left: 0;
					}
				}
			}
		}
	}
	
	&--amarillo{
		padding-top: 0;
		
		article{
			.why-texto{
				background-color: $amarillo-2;
			}
		}
	}
	
	&--verde{
		padding-top: 0;
		
		article{
			.why-texto{
				background-color: $verde-tres;
			}
		}
	}
}
