.btn{
	outline: none;
	position: relative;
	display: block;
	transition: all 0.5s ease-in;
	text-align: center;
	border: none;
	
	&:hover{
		cursor: pointer;
	}
	
	&:after{
		position: absolute;
		height: 100%;
		width: 90%;
		content: '';
		display: block;
		top: 15px;
		z-index: 0;
		left: 50%;
		transform: translateX(-50%);
		transition: all 0.5s ease-in;
	}
	
	span{
		padding: 15px 10px;
		display: block;
		font-size: 18px;
		letter-spacing: 0;
		text-transform: uppercase;
		position: relative;
		z-index: 1;
		transition: all 0.5s ease-in;
		
		@media #{$mobile} {
			padding: 25px 10px;
			letter-spacing: 7px;
			font-size: 23px;
		}
	}
	
	&.btn-naranja{
		span{
			color: $negro;
			font-size: 20px;
			font-weight: $regular;
			background-color: $naranja;
			letter-spacing: 0;
		}
		
		&:hover{
			span{
				transform: translateY(5px);
				background-color: white;
			}
		}
	}
	
	&.btn-morado{
		span{
			color: $negro;
			font-size: 20px;
			font-weight: $regular;
			background-color: $morado;
			letter-spacing: 0;
		}
		
		&:hover{
			span{
				transform: translateY(5px);
				background-color: white;
			}
		}
	}
	
	&.btn-blanco{
		span{
			background-color: white;
			color: black;
		}
		
		&:hover{
			transform: translateY(5px);
			
			span{
				background-color: $verde-dos;
				color: white;
			}
			
			&:after{
				background-color: white;
				transform: translateX(-50%) translateY(-5px);
			}
		}
		
		&:after{
			background: $verde-dos;
		}
	}
	
	&.btn-blanco-dos{
		span{
			background-color: white;
			color: black;
			letter-spacing: 4.4px;
			padding: 25px;
		}
		
		&:hover{
			transform: translateY(5px);
			
			span{
				background-color: $verde-dos;
				color: white;
			}
		}
		
		&:after{
			display: none;
		}
	}
	
	&.btn-verde{
		span{
			background-color: $verde-tres;
			color: black;
			letter-spacing: 4.4px;
			padding: 25px;
		}
		
		&:hover{
			transform: translateY(5px);
			
			span{
				background-color: $verde-dos;
				color: white;
			}
		}
		
		&:after{
			display: none;
		}
	}
	
	&.btn-rosa{
		span{
			background-color: $rosa;
			color: black;
		}
		
		&:hover{
			transform: translateY(5px);
			
			span{
				background-color: $rosa-dos;
				color: white;
			}
			
			&:after{
				background-color: $rosa;
				transform: translateX(-50%) translateY(-5px);
			}
		}
		
		&:after{
			background: $rosa-dos;
		}
	}
	
	&.btn-amarillo{
		span{
			background-color: $amarillo-2;
			color: black;
			letter-spacing: 0;
		}
		
		&:hover{
			transform: translateY(5px);
			
			span{
				background-color: $amarillo-3;
				color: white;
			}
			
			&:after{
				background-color: $amarillo-2;
				transform: translateX(-50%) translateY(-5px);
			}
		}
		
		&:after{
			background: $amarillo-3;
		}
	}
	
	&.btn-amarillo-dos{
		span{
			background-color: white;
			color: black;
			letter-spacing: 0;
		}
		
		&:hover{
			transform: translateY(5px);
			
			span{
				background-color: $amarillo-3;
				color: white;
			}
			
			&:after{
				background-color: $amarillo-2;
				transform: translateX(-50%) translateY(-5px);
			}
		}
		
		&:after{
			background: $amarillo-3;
		}
	}
}
