.clr-white {
	color: $blanco;
}

.clr-black {
	color: $negro;
}

.clr-pink {
	color: $rosa;
}

.clr-gray {
	color: $gris;
}

.bg-white {
	background-color: $blanco;
}

.bg-black {
	background-color: $negro;
}

.bg-pink {
	background-color: $rosa;
}

.bg-lightgray {
	background-color: $gris-1;
}

.texto-verde{
	color: $verde-cuatro;
}
