footer {
	transition: all 0.5s ease-in;
	padding: 40px 0;
	
	@include escritorio{
		padding: 70px 0 70px;
	}
	
	.container{
		display: grid;
		max-width: 1380px;
		position: relative;
		grid-template-columns: 1fr;
		grid-gap: 30px;
		
		@include escritorio-dos{
			grid-template-columns: repeat(3, 1fr);
		}
	}
	
	.logos_footer{
		display: flex;
		flex-direction: column;
		
		.flex{
			margin: 0 0 15px 0;
			justify-content: center;
			
			@include escritorio-dos{
				justify-content: flex-start;
				margin: 0 0 80px 0;
			}
			
			a{
				margin-left: 40px;
				
				&:first-child{
					margin-left: 0;
				}
				
				img{
					max-height: 50px;
					max-width: 100%;
					
					@media #{$escritorio} {
						max-height: 80px;
					}
				}
			}
		}
		
		p{
			font: $regular 18px/20px $tipografia-principal;
			margin: 0;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 200px;
			
			@include escritorio-dos{
				text-align: left;
				justify-content: flex-start;
			}
			
			img{
				max-width: 50px;
				margin: 0 10px 0 0;
			}
			
			a{
				color: $verde;
				transition: all 0.5s ease-in;
				
				&:hover{
					color: $blanco;
				}
			}
		}
	}
	
	.links{
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: relative;
		
		@include escritorio-dos{
			border-left: 1px solid $blanco;
			border-right: 1px solid $blanco;
		}
		
		ul{
			list-style-type: none;
			min-width: 250px;
			
			li{
				margin: 0 0 20px 0;
				display: flex;
				justify-content: center;
				
				@media #{$escritorio} {
					justify-content: flex-start;
				}
				
				a{
					color: $blanco;
					transition: all 0.5s ease-in;
					font-size: 18px;
					
					@media #{$escritorio} {
						font-size: 23px;
					}
					
					&:hover{
						color: $rosa;
					}
				}
			}
			
			&.social{
				display: flex;
				margin: 40px 0 0 0;
				transition: all 0.5s ease-in;
				justify-content: center;
				
				@media #{$escritorio} {
					justify-content: flex-start;
				}
				
				&:hover{
					li{
						opacity: 0.5;
					}
				}
				
				li{
					margin: 0 0 0 35px;
					transition: all 0.5s ease-in;
					display: flex;
					
					&:first-child{
						margin: 0;
					}
					
					&:hover{
						opacity: 1;
						
						a{
							transform: translateY(-5px);
						}
					}
					
					a{
						display: block;
						
						img{
							height: 25px;
						}
					}
				}
			}
		}
		
		p{
			font-size: 18px;
			margin: 45px 0 0 0;
			text-align: center;
		}
	}
	
	.form{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 40px 0 0 0 !important;
		
		@include escritorio-dos{
			align-items: flex-start;
			margin: 0 !important;
		}
		
		p{
			font-size: 18px;
			margin: 0 0 15px 0;
			
			@media #{$escritorio} {
				font-size: 23px;
			}
		}
		
		form{
			max-width: 440px;
			display: flex;
			flex-direction: column;
			width: 100%;
			
			input{
				height: 50px;
				width: 100%;
				padding: 0 18px;
				outline: none;
				margin-bottom: 15px;
				border: 1px solid $negro;
				transition: all 0.5s ease-in;
				margin-left: 0;
				
				&:focus{
					border: 1px solid $rosa;
				}
			}
			
			button{
				display: contents;
				text-align: left;
				background-color: transparent;
				color: $rosa;
				border: none;
				text-decoration: underline;
				margin: 20px 0 0 0;
				cursor: pointer;
				transition: color 0.5s ease-in;
				
				&:hover{
					color: $blanco;
				}
			}
		}
	}
}
