label{
	font: $regular 22px/30px $tipografia-principal;
	color: $negro;
	width: 100%;
	text-align: left;
	
	@include mobile{
		width: 40%;
		text-align: right;
	}
	
	@include escritorio{
		font: $regular 26px/34px $tipografia-principal;
	}
	
	small{
		display: block;
	}
}

input{
	height: 50px;
	width: 100%;
	border: none;
	outline: none;
	padding: 0 20px;
	font-size: 18px;
	background: $blanco;
	
	@media #{$mobile} {
		width: calc(60% - 20px);
		margin-left: 20px;
	}
	
	&:focus{
		border: 1px solid $rosa;
	}
}

.checkbox, .multiple-select-dropdown{
	width: 100%;
	
	label{
		font-size: 20px;
		text-align: left;
		
		@media #{$escritorio} {
			font-size: 23px;
		}
		
		input{
			height: 0;
			width: 0;
			visibility: hidden;
			
			&:checked{
				& + span{
					&:after{
						transform: translateY(-50%) scale(1);
					}
				}
			}
		}
		
		span{
			position: relative;
			padding-left: 55px;
			display: flex;
			min-height: 50px;
			align-items: flex-start;
			
			@media #{$escritorio} {
				align-items: center;
			}
			
			&:before{
				position: absolute;
				content: '';
				display: block;
				height: 40px;
				width: 40px;
				left: 0;
				background-color: $gris-3;
			}
			
			&:after{
				content: '';
				display: block;
				height: 22px;
				width: 22px;
				background: url("../images/foro-idea/checked.svg") no-repeat center;
				background-size: contain;
				position: absolute;
				left: 8px;
				top: 25px;
				transform: translateY(-50%) scale(0);
				font-size: 40px;
				transition: all 0.5s ease-in;
			}
			
			a{
				text-decoration: underline;
				color: $negro;
				transition: all 0.5s ease-in;
				
				&:hover{
					color: $rosa;
				}
			}
		}
	}
}

.inputRadio{
	width: 100%;
	
	label{
		font-size: 20px;
		text-align: left;
		
		@media #{$escritorio} {
			font-size: 23px;
		}
		
		input{
			height: 0;
			width: 0;
			visibility: hidden;
			
			&:checked{
				& + span{
					&:after{
						transform: translateY(-50%) scale(1);
					}
				}
			}
		}
		
		span{
			position: relative;
			padding-left: 55px;
			display: flex;
			min-height: 50px;
			align-items: flex-start;
			
			@media #{$escritorio} {
				align-items: center;
			}
			
			&:before{
				position: absolute;
				content: '';
				display: block;
				height: 40px;
				width: 40px;
				border-radius: 50%;
				left: 0;
				top: 0;
				background-color: $blanco;
			}
			
			&:after{
				content: '';
				display: block;
				height: 15px;
				width: 15px;
				border-radius: 50%;
				background-color: $rosa;
				position: absolute;
				left: 12px;
				top: 20px;
				transform: translateY(-50%) scale(0);
				font-size: 40px;
				transition: all 0.5s ease-in;
			}
			
			a{
				text-decoration: underline;
				color: $negro;
				transition: all 0.5s ease-in;
				
				&:hover{
					color: $rosa;
				}
			}
		}
	}
}


textarea{
	font-size: 16px;
	padding: 15px;
	max-width: 700px;
	margin: 0 auto 20px auto;
	width: 100%;
	display: block;
	border: none;
	height: 210px;
	
	@media #{$escritorio} {
		margin: 0 auto 60px auto;
	}
}

.file-field {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	max-width: 680px;
	width: 100%;
	margin: 0 auto 30px auto;
	
	&:hover{
		.file-path-wrapper {
			input{
				border: 1px solid $naranja;
			}
		}
		
		.boton{
			span{
				color: $naranja;
			}
		}
	}
	
	.file-path-wrapper {
		overflow: hidden;
		padding-right: 10px;
		width: 100%;
		
		input{
			background: $blanco;
			height: 50px;
			border: 1px solid $blanco;
			transition: all 0.5s ease-in;
		}
	}
	
	input.file-path {
		width: 100%;
	}
	
	span {
		cursor: pointer;
	}
	
	input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity = 0);
		
		&::-webkit-file-upload-button {
			display: none;
		}
	}
	
	.boton{
		display: flex;
		flex-direction: row-reverse;
		
		span{
			display: block;
			width: 96px;
			font-size: 23px;
			transition: color 0.5s ease-in;
		}
	}
}



/* Select Field
   ========================================================================== */

select {
	display: none;
}

select.browser-default {
	display: block;
}

select {
	background-color: $blanco;
	width: 100%;
	padding: 20px;
	border: none;
	height: 50px;
}

.select-label {
	position: absolute;
}

.select-wrapper {
	width: calc(60% - 20px);
	margin-left: 20px;
	
	&.valid .helper-text[data-success],
	&.invalid ~ .helper-text[data-error] {
		color: transparent;
		user-select: none;
		pointer-events: none;
	}
	
	&.valid {
		& ~ .helper-text:after {
			content: attr(data-success);
			color: $verde;
		}
	}
	
	&.invalid {
		& ~ .helper-text:after {
			content: attr(data-error);
			color: $rosa;
		}
	}
	
	&.valid + label,
	&.invalid + label {
		width: 100%;
		pointer-events: none;
	}
	
	& + label:after {
		display: block;
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		opacity: 0;
		transition: .2s opacity ease-out, .2s color ease-out;
	}
	
	position: relative;
	
	input.select-dropdown {
		&:focus {
			border-bottom: 1px solid $rosa;
		}
		position: relative;
		cursor: pointer;
		background-color: $blanco;
		border: none;
		outline: none;
		height: 50px;
		line-height: 50px;
		width: 100%;
		font-size: 18px;
		margin: 0;
		padding: 0 20px;
		display: block;
		user-select:none;
		z-index: 1;
	}
	
	.caret {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		z-index: 1;
		fill: rgba(0,0,0,.87);
	}
	
	& + label {
		position: absolute;
		top: -26px;
		font-size: 18px;
	}
}

.select-dropdown.dropdown-content {
	li {
		&:hover {
			background-color: $blanco;
		}
		
		&.selected {
			background-color: $blanco;
		}
	}
}

// Optgroup styles
.select-dropdown li.optgroup {
	border-top: 1px solid $blanco;
	
	&.selected > span {
		color: rgba(0, 0, 0, .7);
	}
	
	& > span {
		color: rgba(0, 0, 0, .4);
	}
	
	& ~ li.optgroup-option {
		padding-left: 1rem;
	}
}

.dropdown-content {
	&:focus {
		outline: 0;
	}
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
				0 3px 1px -2px rgba(0,0,0,0.12),
				0 1px 5px 0 rgba(0,0,0,0.2);
	background-color: $blanco;
	margin: 0;
	display: none;
	min-width: 100px;
	overflow-y: auto;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999;
	transform-origin: 0 0;
	
	&.multiple-select-dropdown{
		padding: 0 0 20px 0;
	}
	
	li {
		&:hover, &.active {
			background-color: $blanco;
		}
		
		&:focus {
			outline: none;
		}
		
		&.divider {
			min-height: 0;
			height: 1px;
		}
		
		& > a, & > span {
			font-size: 16px;
			color: $rosa;
			display: block;
			line-height: 22px;
			padding: 0 20px;
		}
		
		& > span > label {
			top: 1px;
			left: 0;
			height: 18px;
		}
		
		// Icon alignment override
		& > a > i {
			height: inherit;
			line-height: inherit;
			float: left;
			margin: 0 24px 0 0;
			width: 24px;
		}
		
		&.disabled{
			display: none;
		}
		
		
		clear: both;
		color: $negro;
		cursor: pointer;
		min-height: 50px;
		line-height: 1.5rem;
		width: 100%;
		text-align: left;
	}
}

body.keyboard-focused {
	.dropdown-content li:focus {
		background-color: darken($blanco, 8%);
	}
}

// Input field specificity bugfix
.input-field.col .dropdown-content [type="checkbox"] + label {
	top: 1px;
	left: 0;
	height: 18px;
	transform: none;
}

.dropdown-trigger {
	cursor: pointer;
}
