html, body {
	font-family: "Brandon", sans-serif;
	font-weight: 400;
	font-size: 23px;
	color: black;
}

html{
	//scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	
	&::before, &::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-font-smoothing: antialiased;
	}
}

a, *:focus {
	text-decoration: none;
}

p {
	font-size: 23px;
	line-height: 30px;
}

h1, .h1 {
	font-size: 100px;
	font-weight: 500;
	line-height: 89px;
}

h2, .h2 {
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: -1px;
}

.clr-white {
	color: white;
}

.clr-black {
	color: black;
}

.clr-pink {
	color: #FF4190;
}

.clr-gray {
	color: #9a9a9a;
}

.bg-white {
	background-color: white;
}

.bg-black {
	background-color: black;
}

.bg-pink {
	background-color: #FF4190;
}

.bg-lightgray {
	background-color: #eaeaea;
}

.flex {
	display: flex;
	align-items: center;
}

img {
	max-width: 100%;
}

.txt-center {
	text-align: center;
}

.container {
	padding: 0 20px;
	max-width: 1320px;
	margin: auto;
}

.hideEscritorio{
	@media #{$escritorio} {
		display: none;
	}
}

.hideMobil{
	display: none;
	
	@media #{$escritorio} {
		display: block;
	}
}

