body.active{
	overflow: hidden;
	
	@media #{$escritorio} {
		overflow: auto;
	}
	
	main, footer{
		transform: scale(0.9);
		filter: blur(10px);
		
		@media #{$escritorio} {
			transform: none;
			filter: none;
		}
	}
	
	header{
		nav{
			ul{
				transform: translateX(0);
			}
		}
	}
}

main{
	transition: all 0.5s ease-in;
}
