@font-face {
	font-family: "Brandon";
	src: url("fonts/Brandonreg.eot") format("embedded-opentype"),
	url("fonts/Brandonreg.woff") format("woff"),
	url("fonts/Brandonreg.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Brandon";
	src: url("fonts/Brandonmed.eot") format("embedded-opentype"),
	url("fonts/Brandonmed.woff") format("woff"),
	url("fonts/Brandonmed.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "Brandon";
	src: url("fonts/Brandonbld.eot") format("embedded-opentype"),
	url("fonts/Brandonbld.woff") format("woff"),
	url("fonts/Brandonbld.ttf") format("truetype");
	font-weight: 600;
}
