//Media queries
$mobile: screen and (min-width: 601px);
$mobile-dos: screen and (min-width: 460px);
$escritorio: screen and (min-width: 961px);
$escritorio-dos: screen and (min-width: 1200px);
$escritorio-full: screen and (min-width: 1400px);
$escritorio-and-down: screen and (max-with: 960px);

//Colores
$blanco: white;
$negro: black;
$rosa: #FF4190;
$rosa-dos: #CC367A;
$rosa-tres: #FF9DB5;
$gris: #9a9a9a;
$gris-1: #eaeaea;
$gris-2: #E8E8E8;
$gris-3: #E0E0E0;
$gris-4: #E9E9E9;
$morado: #969CFB;
$morado-2: #5361C2;
$morado-3: #99A3F3;
$verde: #88D180;
$verde-dos: #A6D17D;
$verde-tres: #CCF3AB;
$verde-cuatro: #8CD174;
$verde-cinco: #455239;
$verde-seis: #ABCD8E;
$naranja: #E87536;
$azul: #C1E9F8;
$amarillo: #FFE882;
$amarillo-2: #FFDC48;
$amarillo-3: #EFC206;

//Tipografia
$tipografia-principal: "Brandon", sans-serif;
$regular: 400;
$medium: 500;
$bold: 600;

//Header
$header-mobil: 60px;
$header-tablet: 70px;
$header-escritorio: 80px;
