//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= '404.html'
- page[ 'title' ] 		= '404'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.c-error-404
			section
				.container
					h1.c-error-404__titulo ¡Oooops ! La página que estás buscando no existe.
					a.c-error-404__boton.btn.btn-blanco(href="../"): span Regresa al inicio

		include ../template/_footer
		
		include ../template/_scripts
