//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'agenda.html'
- page[ 'title' ] 		= 'Agenda'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.foro-idea#sticky-navigation
			section.intro-idea.intro-idea--interna
				.container
					.logo
						img(src=urlFolder + "images/foro-idea/foro-idea-2021.svg" alt="Foro Idea 2021")

					.texto
						p 21●22●23 de abril
						h1 III FORO LATINOAMERICANO SOBRE CREATIVIDAD, INNOVACIÓN Y NUEVOS MEDIOS PARA LOS DERECHOS REPRODUCTIVOS.

			.c-menu-agenda
				.container
					ul
						li: a.active(href="#agenda") Agenda
						li: a(href="#speakers") Speakers
						li: a(href="#!") Participantes

			.c-submenu-agenda
				.c-submenu-agenda__container.container
					ul
						li: a.btn.btn-rosa.active(href="#!"): span Día 1
						li: a.btn.btn-rosa(href="#!"): span Día 2
						li: a.btn.btn-rosa(href="#!"): span Día 3

			section.c-contenido-agenda.scrolling#agenda
				.c-contenido-agenda__container.container
					h2.c-contenido-agenda__titulo Día 1
					h2.c-contenido-agenda__fecha Miércoles, 21 de abril 2021

					ul.c-contenido-agenda__entradas
						li.c-contenido-agenda__entrada
							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Conferencia

								.c-contenido-agenda__item-descripcion.c-contenido-agenda__item-descripcion--xl
									p MAIN STAGE Toniic Presents for Investors: "Journey Through The Portal" - Global Discussions for and with Impact Investors. Starting our Journey in Asia Pacific

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Horario

								.c-contenido-agenda__item-descripcion
									p 8:00 PM / 8:10 PM CDT — 6:00 PM / 6:10 PM PST

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Ponente

								.c-contenido-agenda__item-descripcion.c-contenido-agenda__item-descripcion--ponentes
									.c-contenido-agenda__item-ponente
										.c-contenido-agenda__item-imagen-ponente
											img.lazy(src="#" data-src="https://fakeimg.pl/128/" alt="Imagen")

										.c-contenido-agenda__item-contenido-ponente
											p.c-contenido-agenda__item-contenido-ponente-titulo Catalina Ruiz Navarro
											p.c-contenido-agenda__item-contenido-ponente-descripcion Fundadora y Directora Creadoras Camp

									.c-contenido-agenda__item-ponente
										.c-contenido-agenda__item-imagen-ponente
											img.lazy(src="#" data-src="https://fakeimg.pl/128/" alt="Imagen")

										.c-contenido-agenda__item-contenido-ponente
											p.c-contenido-agenda__item-contenido-ponente-titulo Catalina Ruiz Navarro
											p.c-contenido-agenda__item-contenido-ponente-descripcion Fundadora y Directora Creadoras Camp

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo

								.c-contenido-agenda__item-descripcion
									a.c-contenido-agenda__ver-mas(href="interna-agenda.html") Ver más


						li.c-contenido-agenda__entrada
							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Conferencia

								.c-contenido-agenda__item-descripcion.c-contenido-agenda__item-descripcion--xl
									p MAIN STAGE Toniic Presents for Investors: "Journey Through The Portal" - Global Discussions for and with Impact Investors. Starting our Journey in Asia Pacific

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Horario

								.c-contenido-agenda__item-descripcion
									p 8:00 PM / 8:10 PM CDT — 6:00 PM / 6:10 PM PST

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Ponente

								.c-contenido-agenda__item-descripcion.c-contenido-agenda__item-descripcion--ponentes
									.c-contenido-agenda__item-ponente
										.c-contenido-agenda__item-imagen-ponente
											img.lazy(src="#" data-src="https://fakeimg.pl/128/" alt="Imagen")

										.c-contenido-agenda__item-contenido-ponente
											p.c-contenido-agenda__item-contenido-ponente-titulo Catalina Ruiz Navarro
											p.c-contenido-agenda__item-contenido-ponente-descripcion Fundadora y Directora Creadoras Camp

									.c-contenido-agenda__item-ponente
										.c-contenido-agenda__item-imagen-ponente
											img.lazy(src="#" data-src="https://fakeimg.pl/128/" alt="Imagen")

										.c-contenido-agenda__item-contenido-ponente
											p.c-contenido-agenda__item-contenido-ponente-titulo Catalina Ruiz Navarro
											p.c-contenido-agenda__item-contenido-ponente-descripcion Fundadora y Directora Creadoras Camp

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo

								.c-contenido-agenda__item-descripcion
									a.c-contenido-agenda__ver-mas(href="interna-agenda.html") Ver más


						li.c-contenido-agenda__entrada
							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Conferencia

								.c-contenido-agenda__item-descripcion.c-contenido-agenda__item-descripcion--xl
									p MAIN STAGE Toniic Presents for Investors: "Journey Through The Portal" - Global Discussions for and with Impact Investors. Starting our Journey in Asia Pacific

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Horario

								.c-contenido-agenda__item-descripcion
									p 8:00 PM / 8:10 PM CDT — 6:00 PM / 6:10 PM PST

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Ponente

								.c-contenido-agenda__item-descripcion.c-contenido-agenda__item-descripcion--ponentes
									.c-contenido-agenda__item-ponente
										.c-contenido-agenda__item-imagen-ponente
											img.lazy(src="#" data-src="https://fakeimg.pl/128/" alt="Imagen")

										.c-contenido-agenda__item-contenido-ponente
											p.c-contenido-agenda__item-contenido-ponente-titulo Catalina Ruiz Navarro
											p.c-contenido-agenda__item-contenido-ponente-descripcion Fundadora y Directora Creadoras Camp

									.c-contenido-agenda__item-ponente
										.c-contenido-agenda__item-imagen-ponente
											img.lazy(src="#" data-src="https://fakeimg.pl/128/" alt="Imagen")

										.c-contenido-agenda__item-contenido-ponente
											p.c-contenido-agenda__item-contenido-ponente-titulo Catalina Ruiz Navarro
											p.c-contenido-agenda__item-contenido-ponente-descripcion Fundadora y Directora Creadoras Camp

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo

								.c-contenido-agenda__item-descripcion
									a.c-contenido-agenda__ver-mas(href="interna-agenda.html") Ver más


						li.c-contenido-agenda__entrada
							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Conferencia

								.c-contenido-agenda__item-descripcion.c-contenido-agenda__item-descripcion--xl
									p MAIN STAGE Toniic Presents for Investors: "Journey Through The Portal" - Global Discussions for and with Impact Investors. Starting our Journey in Asia Pacific

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Horario

								.c-contenido-agenda__item-descripcion
									p 8:00 PM / 8:10 PM CDT — 6:00 PM / 6:10 PM PST

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo
									p Ponente

								.c-contenido-agenda__item-descripcion.c-contenido-agenda__item-descripcion--ponentes
									.c-contenido-agenda__item-ponente
										.c-contenido-agenda__item-imagen-ponente
											img.lazy(src="#" data-src="https://fakeimg.pl/128/" alt="Imagen")

										.c-contenido-agenda__item-contenido-ponente
											p.c-contenido-agenda__item-contenido-ponente-titulo Catalina Ruiz Navarro
											p.c-contenido-agenda__item-contenido-ponente-descripcion Fundadora y Directora Creadoras Camp

									.c-contenido-agenda__item-ponente
										.c-contenido-agenda__item-imagen-ponente
											img.lazy(src="#" data-src="https://fakeimg.pl/128/" alt="Imagen")

										.c-contenido-agenda__item-contenido-ponente
											p.c-contenido-agenda__item-contenido-ponente-titulo Catalina Ruiz Navarro
											p.c-contenido-agenda__item-contenido-ponente-descripcion Fundadora y Directora Creadoras Camp

							.c-contenido-agenda__item
								.c-contenido-agenda__item-titulo

								.c-contenido-agenda__item-descripcion
									a.c-contenido-agenda__ver-mas(href="interna-agenda.html") Ver más

			section.c-contenido-speakers.scrolling#speakers
				.c-contenido-speakers__container.container
					h2.c-contenido-speakers__titulo Speakers

					ul.c-contenido-speakers__speakers
						- var n = 0
						while n < 16
							- n ++
							li.c-contenido-speakers__item
								a(href="interna-speaker.html").c-contenido-speakers__imagen
									img.lazy(src="#" data-src="https://fakeimg.pl/250/" alt="speaker")

								.c-contenido-speakers__contenido
									.c-contenido-speakers__contenido-nombre Catalina Ruiz Navarro Catalina Ruiz Navarro
									.c-contenido-speakers__contenido-pais COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA
									.c-contenido-speakers__contenido-profesion Fundadora y Directora Creadoras Camp

									ul.c-contenido-speakers__contenido-redes-sociales
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder+"images/logos/twitter-blanco.svg" alt="twitter")
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder+"images/logos/instagram-blanco.svg" alt="instagram")
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder+"images/logos/linkedin-blanco.svg" alt="linkedin")

		include ../template/_footer
		
		include ../template/_scripts
