//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'comunidad-idea.html'
- page[ 'title' ] 		= 'Comunidad IDEA'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.programas.idea-inpira
			section.c-banner-principal
				.container
					ul.c-banner-principal__menu
						li: a(href="#!" title="IDEA Inspira") IDEA Inspira
						li: a(href="idea-start.html" title="IDEA Start") IDEA Start
						li: a.active(href="#!" title="Comunidad IDEA") Comunidad IDEA

					.c-banner-principal__texto
						p #[strong Impulsamos un nuevo ecosistema de innovación social] para construir el mundo que queremos.

			.why.why--inverso.why--amarillo
				.container
					article
						.why-texto
							h2 Comunidad IDEA
							p La Comunidad IDEA está formada por todas las personas, organizaciones y empresas apasionadas por encontrar soluciones creativas e innovadoras a los desafíos para la salud y derechos reproductivos en América Latina y que conforman el ecosistema de innovación social de la Iniciativa IDEA.

						.why-imagen
							img(src=urlFolder+'images/comunidad-idea/comunidad-idea.jpg' alt='Comunidad idea')

			section.c-cards
				.container
					h2.c-cards__titulo ¡Únete a la Comunidad IDEA!

					ul.c-cards__lista
						li.c-cards__item
							img.c-cards__imagen.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/apasiona.png")
							p.c-cards__texto Si te apasiona la creatividad, la tecnología, la innovación, los medios digitales o el emprendimiento de impacto social…

						li.c-cards__item
							img.c-cards__imagen.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/contribuir.png")
							p.c-cards__texto Si buscas contribuir con tu talento a resolver desafíos que afectan a millones de personas.

						li.c-cards__item
							img.c-cards__imagen.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/lucha.png")
							p.c-cards__texto Si eres de las personas que en lugar de luchar contra el status quo, imaginan y crean el mundo en el que quieren vivir.

				.c-cards__container-subtitulo
					.container
						h3.c-cards__subtitulo Algunas cosas que puedes hacer para formar parte de la Comunidad IDEA:

			section.c-banner-imagen-full.c-banner-imagen-full--reversa.c-banner-imagen-full--amarillo
				.c-banner-imagen-full__container.container
					.c-banner-imagen-full__texto
						ul.c-banner-imagen-full__texto--lista-morado
							li Si quieres realizar una donación o invertir en nuestros programas.
							li Si buscas cómo aplicar tu talento apoyando a otras personas de la Comunidad IDEA mediante mentorías y trabajo en equipo.
							li ¿Quieres contribuir con un artículo sobre innovación y derechos reproductivos?
							li ¿Quieres organizar un Evento IDEA?

						a.btn.btn-amarillo(href="#!"): span Contáctanos

					.c-banner-imagen-full__imagen
						img.lazy(src="#" data-src=urlFolder + "images/comunidad-idea/comunidad-forma-parte.jpg" alt="Tienes una idea")

			.c-cards-botones
				.container
					ul.c-cards-botones__lista
						li.c-cards-botones__item
							p.c-cards-botones__texto ¿Necesitas fortalecer tu organización o emprendimiento social?
							a.btn.btn-amarillo-dos(href="#!"): span IDEA START

						li.c-cards-botones__item
							p.c-cards-botones__texto ¿Buscas apoyo para una idea disruptiva?
							a.btn.btn-amarillo-dos(href="#!"): span IDEA INSPIRA

						//-li.c-cards-botones__item
							p.c-cards-botones__texto ¿Quieres participar en nuestras actividades?
							a.btn.btn-amarillo-dos(href="#!"): span CONVOCATORIAS

			section.c-logos
				.container
					h2.c-logos__titulo ¿Quiénes conforman la Comunidad IDEA?

					ul.c-logos__lista
						li.c-logos__item
							a(href="http://alharacas.com/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/alharaca.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://alterna.pro/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/alterna.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://creadorascamp.org/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/creadoras-camp.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://www.impaqto.net/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/ipaqto.png" alt="Alharaca")
						li.c-logos__item
							a(href="#!" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/laincre.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://latfem.org/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/latfem.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://wambra.ec/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/wambra.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://www.weareplanta.com/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/planta.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://publicitarias.org/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/publicitarias.png" alt="Alharaca")
						li.c-logos__item
							a(href="https://www.sembramedia.org/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/sembra-media.png" alt="Alharaca")
						li.c-logos__item
							a(href="http://www.managuafuriosa.com/" target="_blank"): img.c-logos__img.lazy(src="#!" data-src=urlFolder+"images/comunidad-idea/logos/managua-furiosa.png" alt="Alharaca")

		include ../template/_footer
		
		include ../template/_scripts
