//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'eventos-idea.html'
- page[ 'title' ] 		= 'Eventos IDEA'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.foro-idea
			section.c-banner-principal.c-banner-principal--verde
				.container
					ul.c-banner-principal__menu
						li: a(href="#!" title="IDEA Inspira") IDEA Inspira
						li: a(href="idea-start.html" title="IDEA Start") IDEA Start
						li: a.active(href="#!" title="Comunidad IDEA") Comunidad IDEA
						li: a.active(href="#!" title="Comunidad IDEA") Eventos IDEA

					.c-banner-principal__texto
						h1 Eventos IDEA
						p Conectamos #[strong agentes de cambio] y destacamos nuevos liderazgos.

			.why.why--inverso.why--verde
				.container
					article
						.why-texto
							p Son espacios impulsados por la #[strong Comunidad IDEA] para promover la inspiración, el aprendizaje y networking.
							br
							p El más importante es el Foro IDEA, que se celebra cada 2 años en un país de la región, pero existen otros eventos nacionales sectoriales o intersectoriales, tanto de forma presencial como virtual.

						.why-imagen
							img(src=urlFolder+'images/comunidad-idea/comunidad-idea.jpg' alt='Comunidad idea')

			section.c-titulo
				.container
					h2.c-titulo__titulo Próximos Eventos IDEA

			section.intro-idea
				.container
					.logo
						img(src=urlFolder + "images/foro-idea/foro-idea-2021.svg" alt="Foro Idea 2021")

					.texto
						p 21●22●23 de abril
						h2 III FORO LATINOAMERICANO SOBRE CREATIVIDAD, INNOVACIÓN Y NUEVOS MEDIOS PARA LOS DERECHOS REPRODUCTIVOS.

				.container
					a.btn.btn-blanco-dos(href="#!"): span POSTULA PARA ASISTIR

			section.c-acordeon.c-acordeon--verde
				.container
					h2.c-acordeon__titulo Anteriores Eventos IDEA

					dl.c-acordeon__lista
						dt.c-acordeon__lista-titulo(data-href="#hackathon") #[span.c-acordeon__lista-encabezado Hackathon: Hackea la crisis - Mujeres #[span.c-acordeon__lista-icono]]
						dd#hackathon.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder + "images/idea-inspira/proyectos/ser-nina.png" alt="Zarelia")

								.c-acordeon__lista-texto
									p.texto-verde ¿Cuándo?
									p 24 y 25 de abril de 2020
									p.texto-verde ¿Dónde?
									p Virtual
									p.texto-verde ¿Qué?
									p Hackea la crisis - Mujeres
									p Encuentro en línea que invita al mejor talento de América Latina para resolver los desafíos presentados por el Covid-19 y proporcionar soluciones útiles y de ágil implementación. Durante 2 días, los equipos participantes tendrán la oportunidad de transformar sus ideas en soluciones o productos mínimos viables a 3 retos que enfrentan las mujeres en términos de salud sexual y reproductiva, comunicación con el exterior y violencia contra las mujeres, mientras atravesamos la situación de aislamiento provocada por el Covid-19.
									p.texto-verde ¿Organiza?
									p Iniciativa IDEA, Impaqto, Google, UNICEF, GIZ, PNUD, BID LAB, Platzi
									p.texto-verde: a(href="#!") Para saber más…

			section.todo-empieza.todo-empieza--gris
				.container
					h3.todo-empieza__titulo ¿Quieres organizar un Evento IDEA?
					a.btn.btn-verde(href="#!" title="CONTÁCTANOS"): span CONTÁCTANOS

		include ../template/_footer
		
		include ../template/_scripts
