//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'foro-idea-2019.html'
- page[ 'title' ] 		= 'Foro idea 2019'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.foro-idea-anteriores(data-color="#88D180")
			section.c-banner-principal.c-banner-principal--gris
				.container
					.c-banner-principal__texto
						p El II Foro Latinoamericano sobre Creatividad, Innovación y Nuevos Medios para los derechos reproductivos - Foro IDEA, se desarrolló los días 12 y 13 de noviembre en Antigua, Guatemala, y fue coorganizado por la Iniciativa IDEA y ALTERNA.

			section.c-texto-solo.js-background-color
				.container
					p La agenda estuvo repleta de charlas inspiradoras, paneles de aprendizaje, meetups, laboratorios de ideación, conversatorios, espacios de networking, sesiones de pitch y entrega de los Premios IDEA 2019. #[strong Algunos de los temas abordados este año fueron:]

			section.c-imagen-texto.c-imagen-texto--custom
				.c-imagen-texto__container.container
					.c-imagen-texto__imagen
						img.lazy(src="#" data-src=urlFolder + "images/idea-start/beneficios.png" alt="¿Por qué la salud y derechos reproductivos en América Latina?")

					.c-imagen-texto__texto
						ul.c-imagen-texto__texto--lista
							li Innovación social y derechos de las mujeres.
							li Nuevos medios, nuevas audiencias, nuevas narrativas.
							li Creatividad disruptiva.
							li De las mujeres en tecnología a la tecnología para los derechos de las mujeres.
							li Superando el sesgo de género en la inversión de impacto social: un conversatorio.
							li Sexo, dinero y medios digitales sostenibles.
							li Heartwired: el poder transformador de la comunicación.
							li Tecnología + acceso al aborto seguro (meetup para tecnólogxs).
							li El desafío de emprender para la salud y los derechos reproductivos.
							li Sex Ed para Gen Z.
							li Inversión de Impacto Social para la Salud y Derechos Reproductivos en América Latina.

				.container
					h2.c-imagen-texto__subtitulo Descubre aquí lo más destacado del Foro IDEA 2019

					.c-video.c-video--mediano
						iframe.c-video__iframe(width="560" height="315" src="https://www.youtube.com/embed/5kL6sgQnqRg" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="")

			section.c-tabs.c-tabs--verde.js-background-color
				.container
					h2.c-tabs__titulo Resultados

					dl#c-tabs__tabs.c-tabs__tabs
						dt.c-tabs__tabs-titulo.active
						dd.c-tabs__tabs-contenido
							ul.c-tabs__cifras
								li.js-texto-color
									p.c-tabs__cifras-cantidad 850
									p.c-tabs__cifras-descripcion Participantes

								li.js-texto-color
									p.c-tabs__cifras-cantidad 14
									p.c-tabs__cifras-descripcion Países

								li.js-texto-color
									p.c-tabs__cifras-cantidad 42
									p.c-tabs__cifras-descripcion Speakers internacionales

								li.js-texto-color
									p.c-tabs__cifras-cantidad 17
									p.c-tabs__cifras-descripcion Fondos de inversión de impacto social

								li.js-texto-color
									p.c-tabs__cifras-cantidad 47
									p.c-tabs__cifras-descripcion Empresas y organizaciones involucradas

			section.c-speakers
				.container
					h2.c-speakers__titulo.js-texto-color Speakers

				.c-speakers__container.container
					span.c-speakers__nombre-ponente.js-texto-color Ana Maria Acosta

					ul.c-speakers__lista
						li.c-speakers__lista--item(data-href="#ana-maria-acosta").active Ana María Acosta
						li.c-speakers__lista--item(data-href="#andrea-bere") Andrea Bare
						li.c-speakers__lista--item(data-href="#andrew-lieberman") Andrew Lieberman
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Angelica DeGaetano
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Arielle Egozzi
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Caracol López
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Carla Aguirre
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Catalina Ruiz-Navarro
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Daniel Buchbinder
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Daniela Archila
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Diana Assennato
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Elizabeth Otálvaro Vélez
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Estrella Jaramillo
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Flor Goldsman
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Graciela Castillo Espinoza
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Heather Sayette
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Ishtar Rizzo
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Janine Warner
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Jessica Getz
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Laura Aguirre
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Lucía Villavicencio
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Malva Izquierdo
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Marcelo Echeverría Morán
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") María Renee Barillas
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Maria Zaghi
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Marieliv Flores
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Marlene Molero
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Martín Rodríguez
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Melanie Tobal
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Mónica Taher
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Naimid Cirelli
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Nancy Swanson
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Nathalie Molina Niño
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Rachel Murphy
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Ramón Torre Cañal
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Sandra Barrón
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Sarah Sterling
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Selene Yang
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Trilce Ortiz
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Wendy Anderson
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Yan de Simone

					ul.c-speakers__informacion
						li#ana-maria-acosta.c-speakers__informacion--item.active
							img.c-speakers__informacion--imagen(src=urlFolder+"images/foro-idea-2019/speakers/ana-maria-acosta.png" alt="Ana María Acosta, Ecuador")
							h3.c-speakers__informacion--titulo.js-texto-color Ana María Acosta, Ecuador

							.c-speakers__informacion--descripcion
								p.c-speakers__informacion--descripcion-intro Co-Fundadora y Editora General
								p.c-speakers__informacion--descripcion-intro WAMBRA.EC
								p Ana es co-fundadora y Editora General de www.wambra.ec, Medio Digital Comunitario, donde confabula para contar historias desde la mirada interseccional y los feminismos diversos. Premio Nacional de Periodismo Eugenio Espejo 2018, en la categoría de reportaje en medios digitales, por la investigación “Las Niñas Invisibles de Ecuador” sobre la maternidad forzada producto de la violencia sexual en niñas.
								p Co-fundadora y coordinadora de la Fundación El Churo, una organización que trabaja por el Derecho a la Comunicación y el fortalecimiento de medios comunitarios en Ecuador. Parte del equipo impulsor del Festival Zarelia: Periodismo, Medios Digitales, Género y Feminismo cuya primera edición se realizó en 2019 en Quito, Ecuador.
								p Licenciada en Comunicación Social, Máster en Estudios de la Cultura, educadora popular, feminista, y karishina.

						li#andrea-bere.c-speakers__informacion--item
							img.c-speakers__informacion--imagen(src=urlFolder+"images/foro-idea-2019/speakers/ana-maria-acosta.png" alt="Ana María Acosta, Ecuador")
							h3.c-speakers__informacion--titulo.js-texto-color Andrea Bere

							.c-speakers__informacion--descripcion
								p.c-speakers__informacion--descripcion-intro Co-Fundadora y Editora General
								p.c-speakers__informacion--descripcion-intro WAMBRA.EC
								p Ana es co-fundadora y Editora General de www.wambra.ec, Medio Digital Comunitario, donde confabula para contar historias desde la mirada interseccional y los feminismos diversos. Premio Nacional de Periodismo Eugenio Espejo 2018, en la categoría de reportaje en medios digitales, por la investigación “Las Niñas Invisibles de Ecuador” sobre la maternidad forzada producto de la violencia sexual en niñas.
								p Co-fundadora y coordinadora de la Fundación El Churo, una organización que trabaja por el Derecho a la Comunicación y el fortalecimiento de medios comunitarios en Ecuador. Parte del equipo impulsor del Festival Zarelia: Periodismo, Medios Digitales, Género y Feminismo cuya primera edición se realizó en 2019 en Quito, Ecuador.
								p Licenciada en Comunicación Social, Máster en Estudios de la Cultura, educadora popular, feminista, y karishina.

						li#andrew-lieberman.c-speakers__informacion--item
							img.c-speakers__informacion--imagen(src=urlFolder+"images/foro-idea-2019/speakers/ana-maria-acosta.png" alt="Ana María Acosta, Ecuador")
							h3.c-speakers__informacion--titulo.js-texto-color Andrew Liberman

							.c-speakers__informacion--descripcion
								p.c-speakers__informacion--descripcion-intro Co-Fundadora y Editora General
								p.c-speakers__informacion--descripcion-intro WAMBRA.EC
								p Ana es co-fundadora y Editora General de www.wambra.ec, Medio Digital Comunitario, donde confabula para contar historias desde la mirada interseccional y los feminismos diversos. Premio Nacional de Periodismo Eugenio Espejo 2018, en la categoría de reportaje en medios digitales, por la investigación “Las Niñas Invisibles de Ecuador” sobre la maternidad forzada producto de la violencia sexual en niñas.
								p Co-fundadora y coordinadora de la Fundación El Churo, una organización que trabaja por el Derecho a la Comunicación y el fortalecimiento de medios comunitarios en Ecuador. Parte del equipo impulsor del Festival Zarelia: Periodismo, Medios Digitales, Género y Feminismo cuya primera edición se realizó en 2019 en Quito, Ecuador.
								p Licenciada en Comunicación Social, Máster en Estudios de la Cultura, educadora popular, feminista, y karishina.

						- var n = 0
						while n < 39
							- n ++
							li.c-speakers__informacion--item
								img.c-speakers__informacion--imagen(src="https://fakeimg.pl/529x536/" alt="lorem")
								h3.c-speakers__informacion--titulo.js-texto-color Lorem ipsum dolor sit amet

								.c-speakers__informacion--descripcion
									p.c-speakers__informacion--descripcion-intro Lorem ipsum dolor sit amet
									p.c-speakers__informacion--descripcion-intro Lorem ipsum
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem cupiditate, doloremque impedit in ipsa ipsam, minus odit possimus reiciendis similique veniam voluptatibus! Assumenda blanditiis consectetur nulla perspiciatis. Quasi, ut.


			section.c-logotipos
				.container
					h2.c-logotipos__titulo.js-texto-color Partners

					.c-logotipos__imagen
						img.hideEscritorio(src=urlFolder+"images/foro-idea/partners/partners_700.png" alt="Partners")
						img.hideMobil(src=urlFolder+"images/foro-idea/partners/partners_1200.png" alt="Partners")

		include ../template/_footer
		
		include ../template/_scripts
