//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'foro-idea.html'
- page[ 'title' ] 		= 'Foro Idea'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		main.foro-idea
			section.intro-idea
				.container
					.logo
						img(src=urlFolder+"images/foro-idea/foro-idea-2021.svg" alt="Foro Idea 2021")

					.texto
						p 21●22●23 de abril
						h1 III FORO LATINOAMERICANO SOBRE CREATIVIDAD, INNOVACIÓN Y NUEVOS MEDIOS PARA LOS DERECHOS REPRODUCTIVOS.

			section.todo-empieza
				.container
					h2 TODO EMPIEZA CON UN ¿POR QUÉ?
					h3 ABIERTA LA CONVOCATORIA
					a.btn.btn-blanco(href="#!" title="¡POSTULA PARA ASISTIR!"): span ¡POSTULA PARA ASISTIR!

			section.edicion
				.container
					.imagen
						img(src=urlFolder+"images/foro-idea/edicion-del-foro.png" alt="3 Edición del Foro IDEA 2021")
					.texto
						h2 III Edición del Foro IDEA 2021
						p Ya estamos preparando la III Edición del Foro IDEA, el encuentro regional de líderes de los sectores de la publicidad, la tecnología, los medios digitales y el emprendimiento de impacto social que están impulsando soluciones para mejorar la vida de millones de personas en la región. Un espacio único para promover la inspiración, el aprendizaje y el networking.

			.descripcion-evento
				.container
					p La edición de este año será #[strong virtual] y lleva por lema: #[strong Avanzando hacia la transformación digital de la salud y los derechos reproductivos]. Estamos preparando una agenda repleta de charlas inspiradoras, paneles de expertas/os, laboratorios de ideación, mentorías y actividades de networking, además de las sesiones de pitch y entrega de los Premios IDEA.

					hr

					p #[strong La participación en el Foro IDEA 2021] está limitada a 150 personas y es solo por invitación o mediante postulación.

					p Si quieres recibir una invitación, por favor postula aquí.

			section.c-speakers.c-speakers--gris
				.container
					h2.c-speakers__titulo.js-texto-color Speakers

				.c-speakers__container.container
					span.c-speakers__nombre-ponente.js-texto-color Ana Maria Acosta

					ul.c-speakers__lista
						li.c-speakers__lista--item(data-href="#ana-maria-acosta").active Ana María Acosta
						li.c-speakers__lista--item(data-href="#andrea-bere") Andrea Bare
						li.c-speakers__lista--item(data-href="#andrew-lieberman") Andrew Lieberman
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Angelica DeGaetano
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Arielle Egozzi
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Caracol López
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Carla Aguirre
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Catalina Ruiz-Navarro
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Daniel Buchbinder
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Daniela Archila
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Diana Assennato
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Elizabeth Otálvaro Vélez
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Estrella Jaramillo
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Flor Goldsman
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Graciela Castillo Espinoza
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Heather Sayette
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Ishtar Rizzo
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Janine Warner
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Jessica Getz
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Laura Aguirre
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Lucía Villavicencio
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Malva Izquierdo
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Marcelo Echeverría Morán
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") María Renee Barillas
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Maria Zaghi
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Marieliv Flores
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Marlene Molero
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Martín Rodríguez
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Melanie Tobal
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Mónica Taher
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Naimid Cirelli
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Nancy Swanson
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Nathalie Molina Niño
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Rachel Murphy
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Ramón Torre Cañal
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Sandra Barrón
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Sarah Sterling
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Selene Yang
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Trilce Ortiz
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Wendy Anderson
						li.c-speakers__lista--item(data-href="#ana-maria-acosta") Yan de Simone

					ul.c-speakers__informacion
						li#ana-maria-acosta.c-speakers__informacion--item.active
							img.c-speakers__informacion--imagen(src=urlFolder + "images/foro-idea-2019/speakers/ana-maria-acosta.png" alt="Ana María Acosta, Ecuador")
							h3.c-speakers__informacion--titulo.js-texto-color Ana María Acosta, Ecuador

							.c-speakers__informacion--descripcion
								p.c-speakers__informacion--descripcion-intro Co-Fundadora y Editora General
								p.c-speakers__informacion--descripcion-intro WAMBRA.EC
								p Ana es co-fundadora y Editora General de www.wambra.ec, Medio Digital Comunitario, donde confabula para contar historias desde la mirada interseccional y los feminismos diversos. Premio Nacional de Periodismo Eugenio Espejo 2018, en la categoría de reportaje en medios digitales, por la investigación “Las Niñas Invisibles de Ecuador” sobre la maternidad forzada producto de la violencia sexual en niñas.
								p Co-fundadora y coordinadora de la Fundación El Churo, una organización que trabaja por el Derecho a la Comunicación y el fortalecimiento de medios comunitarios en Ecuador. Parte del equipo impulsor del Festival Zarelia: Periodismo, Medios Digitales, Género y Feminismo cuya primera edición se realizó en 2019 en Quito, Ecuador.
								p Licenciada en Comunicación Social, Máster en Estudios de la Cultura, educadora popular, feminista, y karishina.

						li#andrea-bere.c-speakers__informacion--item
							img.c-speakers__informacion--imagen(src=urlFolder + "images/foro-idea-2019/speakers/ana-maria-acosta.png" alt="Ana María Acosta, Ecuador")
							h3.c-speakers__informacion--titulo.js-texto-color Andrea Bere

							.c-speakers__informacion--descripcion
								p.c-speakers__informacion--descripcion-intro Co-Fundadora y Editora General
								p.c-speakers__informacion--descripcion-intro WAMBRA.EC
								p Ana es co-fundadora y Editora General de www.wambra.ec, Medio Digital Comunitario, donde confabula para contar historias desde la mirada interseccional y los feminismos diversos. Premio Nacional de Periodismo Eugenio Espejo 2018, en la categoría de reportaje en medios digitales, por la investigación “Las Niñas Invisibles de Ecuador” sobre la maternidad forzada producto de la violencia sexual en niñas.
								p Co-fundadora y coordinadora de la Fundación El Churo, una organización que trabaja por el Derecho a la Comunicación y el fortalecimiento de medios comunitarios en Ecuador. Parte del equipo impulsor del Festival Zarelia: Periodismo, Medios Digitales, Género y Feminismo cuya primera edición se realizó en 2019 en Quito, Ecuador.
								p Licenciada en Comunicación Social, Máster en Estudios de la Cultura, educadora popular, feminista, y karishina.

						li#andrew-lieberman.c-speakers__informacion--item
							img.c-speakers__informacion--imagen(src=urlFolder + "images/foro-idea-2019/speakers/ana-maria-acosta.png" alt="Ana María Acosta, Ecuador")
							h3.c-speakers__informacion--titulo.js-texto-color Andrew Liberman

							.c-speakers__informacion--descripcion
								p.c-speakers__informacion--descripcion-intro Co-Fundadora y Editora General
								p.c-speakers__informacion--descripcion-intro WAMBRA.EC
								p Ana es co-fundadora y Editora General de www.wambra.ec, Medio Digital Comunitario, donde confabula para contar historias desde la mirada interseccional y los feminismos diversos. Premio Nacional de Periodismo Eugenio Espejo 2018, en la categoría de reportaje en medios digitales, por la investigación “Las Niñas Invisibles de Ecuador” sobre la maternidad forzada producto de la violencia sexual en niñas.
								p Co-fundadora y coordinadora de la Fundación El Churo, una organización que trabaja por el Derecho a la Comunicación y el fortalecimiento de medios comunitarios en Ecuador. Parte del equipo impulsor del Festival Zarelia: Periodismo, Medios Digitales, Género y Feminismo cuya primera edición se realizó en 2019 en Quito, Ecuador.
								p Licenciada en Comunicación Social, Máster en Estudios de la Cultura, educadora popular, feminista, y karishina.

						- var n = 0
						while n < 39
							- n ++
							li.c-speakers__informacion--item
								img.c-speakers__informacion--imagen(src="https://fakeimg.pl/529x536/" alt="lorem")
								h3.c-speakers__informacion--titulo.js-texto-color Lorem ipsum dolor sit amet

								.c-speakers__informacion--descripcion
									p.c-speakers__informacion--descripcion-intro Lorem ipsum dolor sit amet
									p.c-speakers__informacion--descripcion-intro Lorem ipsum
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus autem cupiditate, doloremque impedit in ipsa ipsam, minus odit possimus reiciendis similique veniam voluptatibus! Assumenda blanditiis consectetur nulla perspiciatis. Quasi, ut.

			section.gracias
				.container
					h2 Organiza:

					ul
						li: img(src=urlFolder + "images/foro-idea/iniciativa-idea.svg" alt="Iniciativa Idea")

						li: img(src=urlFolder + "images/foro-idea/planned-parenthood.png" alt="Planned Parenthood")

						li: img(src=urlFolder + "images/foro-idea/planta.png" alt="Planta")

						li: img(src=urlFolder + "images/foro-idea/alterna.png" alt="Alterna")

						li: img(src=urlFolder + "images/foro-idea/impaqto.png" alt="Impaqto")

						li: img(src=urlFolder + "images/foro-idea/wambra.png" alt="Wambra")

						li: img(src=urlFolder + "images/foro-idea/publicitarias.png" alt="Plubicitarias")

			section.c-logotipos.c-logotipos--rosa
				.container
					h2.c-logotipos__titulo.js-texto-color Partners

					.c-logotipos__imagen
						img.hideEscritorio(src=urlFolder + "images/foro-idea/partners/partners_700.png" alt="Partners")
						img.hideMobil(src=urlFolder + "images/foro-idea/partners/partners_1200.png" alt="Partners")

			.descripcion-evento
				.container
					p La edición de este año será #[strong virtual] y lleva por lema: #[strong Avanzando hacia la transformación digital de la salud y los derechos reproductivos]. Estamos preparando una agenda repleta de charlas inspiradoras, paneles de expertas/os, laboratorios de ideación, mentorías y actividades de networking, además de las sesiones de pitch y entrega de los Premios IDEA.

					hr

					p #[strong La participación en el Foro IDEA 2021] está limitada a 150 personas y es solo por invitación o mediante postulación.

					p Si quieres recibir una invitación, por favor postula aquí.

			//-section.evento
				.container
					.imagen
						p un evento de
						img(src=urlFolder+"images/foro-idea/iniciativa-idea.svg" alt="Iniciativa Idea")

					.texto
						h2 Una nueva generación de agentes de cambio
						p En los últimos años han surgido nuevos ecosistemas liderados por personas jóvenes, en su mayoría mujeres, que están impulsando la innovación social en sus sectores y creando el mundo en el que quieren vivir en el futuro. Análisis de los ecosistemas de publicidad, tecnología, medios digitales y emprendimiento de impacto social y su impulso a la salud y derechos reproductivos en América Latina.

			//-section.ponentes
				.container
					h2 Ponentes

					ul
						- var n = 0
						while n < 20
							li
								.imagen
									img.lazy(src="#" data-src="https://fakeimg.pl/230x275/" alt="¿Por qué la salud y derechos reproductivos en América Latina?")
								h3(title="Nombre Apellido Nombre Apellido Nombre Apellido") Nombre Apellido Nombre Apellido Nombre Apellido
								p(title="Pequeño texto descriptivo, pequeño texto. Pequeño texto descriptivo, pequeño texto.") Pequeño texto descriptivo, pequeño texto. Pequeño texto descriptivo, pequeño texto.
								a(href="#!" target="_blank" title="@redessociales") @redessociales
								- n++

			//-section.agenda
				.container
					h2 Agenda

					ul#menuAgemda.menu-agenda
						li
							a.btn.btn-blanco(href="#dia1" title="Día 1"): span Día 1

						li
							a.btn.btn-blanco(href="#dia2" title="Día 2"): span Día 2

						li
							a.btn.btn-blanco(href="#dia3" title="Día 3"): span Día 3

					ul#dia1.contenido-agenda.active
						- var n = 0
						while n < 7
							li
								p.hora 00:00 - 0:00
								.descripcion
									h3 Nombre Charla Nombre Charla Nombre Charla
									h4 Nombre Ponente
							- n++

					ul#dia2.contenido-agenda
						- var n = 0
						while n < 10
							li
								p.hora 00:00 - 0:00
								.descripcion
									h3 Nombre Charla Nombre Charla Nombre Charla
									h4 Nombre Ponente
							- n++

					ul#dia3.contenido-agenda
						- var n = 0
						while n < 5
							li
								p.hora 00:00 - 0:00
								.descripcion
									h3 Nombre Charla Nombre Charla Nombre Charla
									h4 Nombre Ponente
							- n++

					.pie-pagina
						p.aviso *Sujeta a cambios sin previo aviso.

						p: strong Habrá intérpretes en lengua de señas.

			//-section.practicar
				.container
					h2 ¿POR QUÉ PARTICIPAR?

					ul
						li
							span.numero 1.

							.descripcion
								h3 PORQUE LOREM IPSUM DOLOR SIT AMENT.
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut iusto odio dignissim qui blandit .

						li
							span.numero 2.

							.descripcion
								h3 PORQUE LOREM IPSUM DOLOR SIT AMENT.
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut iusto odio dignissim qui blandit .

						li
							span.numero 3.

							.descripcion
								h3 PORQUE LOREM IPSUM DOLOR SIT AMENT.
								p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut iusto odio dignissim qui blandit .

			section.formulario
				.container
					h2 FORMULARIO DE POSTULACIÓN PARA PARTICIPAR EN EL FORO IDEA 2021
					p Solo podrán participar las personas inscriptas y aceptadas #[br] previamente mediante un email de confirmación.
					p.texto-rosa Por favor, toma en cuenta que cuanta más información nos proporciones, más nos ayudará a aceptar o no tu postulación.

					form(action="" method="GET")
						.campo
							label Nombre Completo:
							input(type="text" name="nombre")

						.campo
							label Correo electrónico:
							input(type="email" name="correo")

						.campo
							label Teléfono: #[small (Para mensajes)]
							input(type="tel" name="telefono")

						.campo
							label País
							select(name="pais")
								option País 1
								option País 2
								option País 3
								option País 4

						.campo
							label Nombre de tu empresa/organización: #[small (Si no es una persona individual)]
							input(type="text" name="empresa")

						.campo
							label Sitio Web:
							input(type="url" name="web")

						button.btn.btn-rosa(type="submit"): span Enviar

			section.solucion
				.container
					h2 ¡SÉ PARTE DE LA SOLUCIÓN!
					p @iniciativaidea

					ul
						li: a(href='#!'): img(src=urlFolder + 'images/logos/instagram-blanco.svg')
						li: a(href='#!'): img(src=urlFolder + 'images/logos/facebook-blanco.svg')
						li: a(href='#!'): img.twitter(src=urlFolder + 'images/logos/twitter-blanco.svg')
						li: a(href='#!'): img(src=urlFolder + 'images/logos/linkedin-blanco.svg')
						li: a(href='#!'): img(src=urlFolder + 'images/logos/youtube.svg')

		include ../template/_scripts
