//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'idea-inspira.html'
- page[ 'title' ] 		= 'Idea Inspira'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.programas.idea-inpira
			section.c-banner-principal
				.container
					ul.c-banner-principal__menu
						li: a.active(href="#!" title="IDEA Inspira") IDEA Inspira
						li: a(href="idea-start.html" title="IDEA Start") IDEA Start

					.c-banner-principal__texto
						h1.u-color-texto--naranja ¿Qué es?

						p #[strong IDEA Inspira] es un programa de #[strong convocatoria abierta y permanente, que invita a la exploración de ideas disruptivas en las que la innovación y la creatividad] son el componente esencial a la hora de encontrar soluciones a los desafíos para la salud y derechos reproductivos en América Latina.

						p.c-banner-principal__texto--texto-small.u-color-texto--naranja Buscamos ideas que nos inspiren y que necesitan apoyo para ponerlas en práctica.

			section.c-imagen-texto.c-imagen-texto--naranja
				.c-imagen-texto__container.container
					.c-imagen-texto__imagen
						img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/soluciones.png" alt="¿Por qué la salud y derechos reproductivos en América Latina?")

					.c-imagen-texto__texto
						h2.c-imagen-texto__texto--titulo ¿QUÉ SOLUCIONES BUSCAMOS?

						p Para lograr el impacto esperado, las ideas disruptivas deben apuntar a superar grandes barreras en tres áreas clave:

						ul.c-imagen-texto__texto--lista-ordenada
							li El desarrollo de la educación sexual integral, la disponibilidad de anticonceptivos modernos y eficaces y el acceso al aborto legal y seguro.
							li Las leyes y políticas públicas que son restrictivas de estos derechos.
							li Los patrones socioculturales que perpetúan los prejuicios contra el ejercicio de los derechos reproductivos.

			section.c-texto-solo.c-texto-solo--gris
				.container
					h2.c-texto-solo__titulo ¿Eres agente de cambio?
					p Sabemos que este desafío no es para todas las personas. #[strong Solamente aquellas más audaces y talentosas, las que buscan crear un mundo mejor y no solo luchar contra el actual, comprenden la problemática que buscamos solucionar] y tienen la capacidad de tener ideas originales y sacarlas adelante.
					hr.c-texto-solo__divisor
					p #[strong Si este es tu caso, te invitamos a descubrir algunas de las ideas que ya hemos apoyado y a llenar el formulario para dejarnos tu idea disruptiva.] Tu idea será valorada teniendo en cuenta algunos criterios. Si encontramos que podemos apoyar tu idea de alguna forma, nos pondremos en contacto contigo para seguir explorando su potencial.

			section.c-acordeon
				.container
					h2.c-acordeon__titulo Proyectos disruptivos apoyados

					dl.c-acordeon__lista
						dt.c-acordeon__lista-titulo(data-href="#tejiendo-canto") #[span.c-acordeon__lista-encabezado Tejiendo canto #[span.c-acordeon__lista-icono]]
						dd#tejiendo-canto.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/ser-nina.png" alt="Zarelia")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2021
										p #[span Impulsa:] Rebeca Lane
										p #[span País:] Guatemala
										p #[span Contacto/Web:] #[a(href="http://www.rebecalane.com" target="_blank" title="www.festivalzarelia.com") www.rebecalane.com]

									p Tejiendo canto es el nombre del nuevo proyecto musical de la cantautora y activista Rebeca Lane, una artista internacional con varios discos que son reproducidos diariamente por decenas de miles de oyentes en plataformas como Spotify, Youtube, Bandcamp y otras. La construcción del disco se encuentra en fase de conceptualización y pre-producción. Será un disco de 8 temas en el cual se están abordando, desde una perspectiva sensible, temas fundamentales de reflexionar para ir transformando los aprendizajes socioculturales que no permiten gozar a las mujeres de una vida plena, informada y con acceso a derechos humanos básicos. El proyecto es uno de los ganadores de los Premios IDEA 2019.

						dt.c-acordeon__lista-titulo(data-href="#sello-purpura") #[span.c-acordeon__lista-encabezado Sello Púrpura #[span.c-acordeon__lista-icono]]
						dd#sello-purpura.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/sello-purpura.jpg" alt="Sello purpura")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2020
										p #[span Impulsa:] Publicitarias y Bridge The Gap
										p #[span País:] Argentina
										p #[span Contacto/Web:] #[a(href="http://www.publicitarias.org" target="_blank" title="www.festivalzarelia.com") www.publicitarias.org]

									p Sello Púrpura es el primer programa latinoamericano para la certificación de agencias de publicidad en perspectiva de género. Disponer de agencias certificadas para promover los derechos de las mujeres y las disidencias, incluyendo los derechos sexuales y reproductivos, es un anhelo largamente expresado por la ciudadanía, lasmarcas, las organizaciones e instituciones públicas comprometidas con las tendencias actuales y de futuro. El programa consiste en un proceso de certificación en varios pasos, el cual está disponible a través de una plataforma online diseñada para trabajar sobre las necesidades de comunicación actuales y la falta de capacitación de la industria publicitaria. Incluye módulos de capacitación teórica y aplicación práctica de creación de contenidos. A medida que cada agencia cumpla una instancia, recibe una insignia que la acerca a la certificación final. Las agencias certificadas pasan a integrar un directorio único de agencias validadas en perspectiva de género abierto al público general, empresas y organismos que busquen proveedores de comunicación como valor agregado indispensable.

						dt.c-acordeon__lista-titulo(data-href="#latfem-lab") #[span.c-acordeon__lista-encabezado Latfem LAB #[span.c-acordeon__lista-icono]]
						dd#latfem-lab.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/latfem-lab.png" alt="Latfem LAB")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2020
										p #[span Impulsa:] Latfem
										p #[span País:] Argentina
										p #[span Contacto/Web:] #[a(href="http://www.lab.latfem.org" target="_blank" title="www.festivalzarelia.com") www.lab.latfem.org]

									p LatFemLAB es el primer laboratorio online de periodismo feminista en América Latina destinado a periodistas y comunicadores y uno de los proyectos ganadores de los Premios IDEA 2019. Se trata de un espacio de entrenamiento, formación virtual e innovación en nuevas narrativas digitales que aporta, con técnicas y recursos periodísticos, a la producción de contenidos y productos con perspectiva feminista, interseccional y de los derechos humanos. LatFemLAB dispone de varios cursos online creados por y para periodistas y estudiantes de comunicación de habla hispana y que buscan una formación complementaria para el ejercicio de su profesión. Durante sus primeros 5 meses ya ha capacitado a más de 2500 periodistas de 10 países de América Latina.

						dt.c-acordeon__lista-titulo(data-href="#festival-zarelia") #[span.c-acordeon__lista-encabezado Festival Zarelia #[span.c-acordeon__lista-icono]]
						dd#festival-zarelia.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/zarelia.png" alt="Zarelia")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2019
										p #[span Impulsa:] Wambra, medio digital comunitario
										p #[span País:] Ecuador
										p #[span Contacto/Web:] #[a(href="http://www.festivalzarelia.com" target="_blank" title="www.festivalzarelia.com") www.festivalzarelia.com]

									p El Festival Zarelia es el Festival Internacional de periodismo, medios digitales, género y feminismos creado en 2019 por WAMBRA, medio digital comunitario de Ecuador. El Festival Zarelia es un espacio único ensu sector para reflexionar sobre el periodismo feminista, compartir saberes, idear contenidos y crear colaboraciones y alianzas entre periodistas y entre medios digitales. Las dos ediciones celebradas hasta ahora han contado con más de 1.000 participantes de 26 países de América Latina y Europa.

						dt.c-acordeon__lista-titulo(data-href="#creadoras-camp") #[span.c-acordeon__lista-encabezado Creadoras Camp #[span.c-acordeon__lista-icono]]
						dd#creadoras-camp.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/creadoras-camp.png" alt="Creadoras camp")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2019
										p #[span Impulsa:] Creadoras Camp
										p #[span País:] Colombia
										p #[span Contacto/Web:] #[a(href="http://www.creadorascamp.org" target="_blank" title="www.creadorascamp.org") www.creadorascamp.org]

									p Creadoras Camp es un proyecto disruptivo pionero dirigido a jóvenes creadoras de contenido digital latinoamericanas, que buscan maximizar su audiencia e influencia y tienen una actitud positiva sobre los derechos de las mujeres. Mediante talleres impartidos por una red de mentoras expertas y pioneras en la creación de contenido digital en la región, las jóvenes creadoras reciben capacitación en formatos como Podcast, Tik Tok, otras redes sociales, stand up comedy e Ilustración, y herramientas como la curaduría de audiencias, la creación de comunidad y la sostenibilidad profesional, llegando a cientos de miles depersonas seguidoras de sus redes sociales con mensajes favorables a losderechos reproductivos.

						dt.c-acordeon__lista-titulo(data-href="#gafas-para-ver-la-realidad") #[span.c-acordeon__lista-encabezado Gafas para ver la realidad #[span.c-acordeon__lista-icono]]
						dd#gafas-para-ver-la-realidad.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/gafas-para-ver-la-realidad.png" alt="Gafas para ver la realidad")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2019
										p #[span Impulsa:] La Incre
										p #[span País:] Ecuador
										p #[span Contacto/Web:] #[a(href="http://www.causas.laincre.com/gafas" target="_blank" title="www.causas.laincre.com/gafas") www.causas.laincre.com/gafas]

									p Gafas para ver la realidad fue una campaña publicitaria creada para impulsar el debate público sobre la necesidad de despenalizar el aborto en casos de violación en el Ecuador, donde por primera vez se introdujo la innovación de utilizar la tecnología de la realidad virtual. Para ello se creó un video de realidad virtual con testimonios actuados de mujeres a las que se negó ese derecho y que interpelaban a la sociedad y, especialmente, a los miembros de la Asamblea Legislativa nacional a buscar una solución efectiva y basada en los derechos humanos. La campaña se completó con la posibilidad de que la ciudadanía invitara a través de sus redes sociales a ver el video a los tomadores de decisión. Como hallazgos principales, encontramos que la tecnología de la realidad virtual es una herramienta muy innovadora y poderosa para sensibilizar y educar a las personas sobre multitud de asuntos y aún se encuentra en una fase muy inicial de desarrollo. Asimismo, con esta campaña pionera a nivel mundial, Ecuador se puso a la vanguardia internacional en el uso de nuevas tecnologías en temas sociales. La campaña tuvo una gran repercusión en los medios de comunicación tanto nacionales como internacionales y alcanzó a decenas de miles de personas.

						dt.c-acordeon__lista-titulo(data-href="#sexo-sin-verguenzas") #[span.c-acordeon__lista-encabezado Sexo sin vergüenzas #[span.c-acordeon__lista-icono]]
						dd#sexo-sin-verguenzas.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/sexo-sin-verguenzas.png" alt="Sexo sin vergüenzas")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2018
										p #[span Impulsa:] Alharca
										p #[span País:] El Salvador
										p #[span Contacto/Web:] #[a(href="http://www.alharaca.sv/series/sexo-sinverguenzas" target="_blank" title="www.alharaca.sv/series/sexo-sinverguenzas") www.alharaca.sv/series/sexo-sinverguenzas]

									p Sexo Sin Vergüenzas es un proyecto transmedia que combina periodismo, herramientas tecnológicas, materiales audiovisuales y la comedia para reforzar el ejercicio de los derechos sexuales y reproductivos a través de la información y la educación sexual integral. El proyecto consistió en una investigación periodística sobre los embarazos precoces en El Salvador presentada en tres reportajes. Se analizaron datos sobre esta problemática, se desarrollaron dos herramientas tecnológicas (un chatbot y mapas interactivos que incluyen una encuesta para que los usuarios valoren los servicios de salud sexual y reproductiva que reciben), se produjo una serie de videos cortos que utilizan como recurso principal la comedia para informar sobre el tema, se hizo una campaña en redes sociales y una sección de preguntas y respuestas con una sexóloga. El proyecto fue uno de los ganadores de los Premios IDEA 2017 y, gracias a los fondos semilla, las integrantes del equipo crearon y lanzaron un nuevo emprendimiento de impacto social en forma de medio de comunicación digital: ALHARACA.

						dt.c-acordeon__lista-titulo(data-href="#las-igualadas") #[span.c-acordeon__lista-encabezado Las Igualadas #[span.c-acordeon__lista-icono]]
						dd#las-igualadas.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/igualadas.png" alt="Las igualadas")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2018
										p #[span Impulsa:] Las Igualadas
										p #[span País:] Colombia
										p #[span Contacto/Web:] #[a(href="https://www.youtube.com/c/LasIgualadas" target="_blank" title="www.youtube.com/c/LasIgualadas") www.youtube.com/c/LasIgualadas]

									p Las Igualadas es un canal de YouTube líder en editorializar la actualidad colombiana con enfoque de género y mucho humor. El proyecto ganó uno de los Premios IDEA 2017 con el objetivo de escalar los contenidos auna audiencia latinoamericana y desarrolló una serie de 6 columnas de opinión en forma de videos para proporcionar información veraz sobre las campañas de desinformación de los grupos que se oponen a los derechos sexuales y reproductivos. La serie logró alcanzar millones de visualizaciones a través de las distintas redes sociales e hizo crecer drásticamente el número de seguidores/as de sus canales, lo que confirmó el gran interés por estos temas y el enorme potencial de las redes sociales para sensibilizar a las nuevas generaciones.

						dt.c-acordeon__lista-titulo(data-href="#la-decision-de-sara") #[span.c-acordeon__lista-encabezado La Decisión de Sara #[span.c-acordeon__lista-icono]]
						dd#la-decision-de-sara.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/la-decision-de-sara.png" alt="La Decisión de Sara")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2018
										p #[span Impulsa:] Estudios Monocromo
										p #[span País:] Ecuador
										p #[span Contacto/Web:] #[a(href="https://www.estudiomonocromo.com" target="_blank" title="www.estudiomonocromo.com") www.estudiomonocromo.com]

									p La Decisión de Sara es el primer cómic interactivo que aborda la realidad de la violencia sexual contra las niñas y fue uno de los proyectos ganadores de los Premios IDEA 2017. El proyecto nace de la necesidad de informar sobre los derechos reproductivos y los alcances legales que abarca la violencia sexual intrafamiliar a través de una perspectiva humana sobre las decisiones que se toman en momentos difíciles de la vida. La metodología de cómic interactivo permite a los y las lectores/as ponerse en el lugar de Sara y ayudarla a tomar decisiones que la llevarán a una salida en positivo o en negativo, lo que refleja las propias actitudes de quienes interactúan y les ayuda a reflexionar sobre esa situación y las decisiones que toman en función de los personajes. La decisión de Sara tuvo más de 250.000 visitas durante sus tres primeros meses on line.

						dt.c-acordeon__lista-titulo(data-href="#sex-app") #[span.c-acordeon__lista-encabezado SexAPP #[span.c-acordeon__lista-icono]]
						dd#sex-app.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/sex-app.png" alt="SexAPP")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2018
										p #[span Impulsa:] SexAPP
										p #[span País:] Guatemala
										p #[span Contacto/Web:] #[a(href="https://www.lasexapp.com" target="_blank" title="www.lasexapp.com") www.lasexapp.com]

									p La SexApp es un juego móvil de educación sexual que, a través de trivias, un chatbot y mini juegos interactivos, facilita a sus usuarios/as información científica adaptada de manuales de educación sexual aprobados. SexApp fue el primer juego desarrollado en Guatemala sobreesta temática y fue uno de los proyectos ganadores de los Premios IDEA 2017.

						dt.c-acordeon__lista-titulo(data-href="#ligue-politico") #[span.c-acordeon__lista-encabezado Ligue Político #[span.c-acordeon__lista-icono]]
						dd#ligue-politico.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/ligue-politico.png" alt="Ligue Político")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2017
										p #[span Impulsa:] Fáctico y Balance, A.C.
										p #[span País:] México
										p #[span Contacto/Web:] #[a(href="https://www.factico.com.mx" target="_blank" title="www.factico.com.mx") www.factico.com.mx]

									p Ligue Político es una aplicación de tecnología cívica para informar sobre la posición de tomadores de decisión respecto a los derechos sexuales y reproductivos. Ligue político se desarrolló como una plataforma colaborativa en donde, además del perfil y credenciales profesionales delas personas candidatas en el proceso electoral de 2018, la ciudadanía podía consultar sus posturas y votos legislativos en temas de igualdad de género, conformado por los indicadores de: matrimonio igualitario, aborto, derechos sexuales y violencia contra las mujeres, así como su compromiso con otros más, como la transparencia y la rendición de cuentas. La evolución de la plataforma como repositorio de datos verificados, permitió ser una fuente confiable y ampliamente consultada por las y los jóvenes para ejercer un voto informado. Ligue Político fue uno de los proyectos ganadores de los Premios IDEA 2017.

						dt.c-acordeon__lista-titulo(data-href="#ser-nina-en-america-latina") #[span.c-acordeon__lista-encabezado Ser niña en América Latina #[span.c-acordeon__lista-icono]]
						dd#ser-nina-en-america-latina.c-acordeon__lista-contenido
							.c-acordeon__lista-contenedor
								.c-acordeon__lista-imagen
									img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/proyectos/ser-nina-1.jpg" alt="Ser niña en América Latina")

								.c-acordeon__lista-texto
									.c-acordeon__lista-resumen
										p #[span Fecha de inicio:] 2018
										p #[span Impulsa:] Ojo Público, Wambra, GK, Nómada, Confidencial, Vice, ManaguaFuriosa, Mutante
										p #[span País:] Colombia, Ecuador, Guatemala, México, Nicaragua, Perú.

									p Ser Niña en América Latina fue el primer especial periodístico creado en colaboración por 7 medios digitales de 6 países de la región para contar la situación de violencia sexual y maternidad forzada por la que atraviesan las niñas en cada país y evidenciar que la misma se repite en cada contexto. Los medios digitales participantes fueron: Ojo Público (Perú), Wambra y GK (Ecuador), Nómada (Guatemala), Confidencial (Nicaragua) y Vice (México). En 2019 se realizó un segundo proyecto colaborativo que profundizó la conversación sobre la problemática e incorporó a otros medios digitales como Mutante (Colombia) y Managua Furiosa (Nicaragua). Coincidiendo con la demanda contra sus Estados decuatro niñas forzadas a la maternidad ante el Comité de Derechos Humanos de Naciones Unidas en marzo de ese año, se realizó un llamado a otros medios digitales de la región para publicar, por primera vez, una editorial conjunta y simultánea exigiendo la responsabilidad de los Estados ante estos hechos. 34 medios digitales contribuyeron a esta publicación, lo que fue un hito sin precedentes.

			section.c-banner-imagen-full.c-banner-imagen-full--naranja.c-banner-imagen-full--mitad
				.c-banner-imagen-full__container.container
					.c-banner-imagen-full__texto
						h2 ¿Tienes una IDEA?
						h3 El programa IDEA Inspira tiene una convocatoria abierta y permanente.

						p Te invitamos a llenar el siguiente formulario para dejarnos tus datos de contacto y una descripción de tu idea disruptiva, que será valorada teniendo en cuenta algunos criterios.
						p Si encontramos que podemos apoyar tu idea de alguna forma, nos pondremos en contacto contigo para seguir explorando su potencial.

					.c-banner-imagen-full__imagen
						img.lazy(src="#" data-src=urlFolder+"images/idea-inspira/tienes-una-idea.png" alt="Tienes una idea")

			section.c-formulario-extenso.c-formulario-extenso--naranja
				.container
					h2.c-formulario-extenso__titulo ¿Te interesa participar en el programa? #[br] Envíanos tu propuesta.

					form.c-formulario-extenso__formulario(action="" method="GET")
						.c-formulario-extenso__formulario--campo
							label Nombre completo:
							input(type="text" name="nombre")

						.c-formulario-extenso__formulario--campo
							label Correo electrónico:
							input(type="email" name="correo")

						.c-formulario-extenso__formulario--campo
							label Teléfono: #[small (Para mensajes)]
							input(type="tel" name="telefono")

						.c-formulario-extenso__formulario--campo
							label País
							select(name="pais")
								option País 1
								option País 2
								option País 3
								option País 4

						.c-formulario-extenso__formulario--campo
							label Nombre de tu empresa/organización: #[small (Si no es una persona individual)]
							input(type="text" name="empresa")

						.c-formulario-extenso__formulario--campo
							label Sitio web: #[small (opcional)]
							input(type="url" name="web")

						.c-formulario-extenso__formulario--campos-extra
							h3.c-formulario-extenso__subtitulo ¿Cuál de las barreras piensas que encaja mejor con tu idea?

							ul.c-formulario-extenso__formulario--lista.c-formulario-extenso__formulario--lista-simple
								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span El desarrollo de la educación sexual integral, la disponibilidad de anticonceptivos modernos y eficaces y el acceso al aborto legal y seguro.

								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span Las leyes y políticas públicas que son restrictivas de derechos reproductivos.

								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span Los patrones socioculturales que perpetúan los prejuicios contra el ejercicio de los derechos reproductivos.

							h3.c-formulario-extenso__subtitulo ¿Cuál es el país / países donde se aplicaría?

							.c-formulario-extenso__formulario--campo.c-formulario-extenso__formulario--multiselect
								select(name="pais" multiple)
									option(value="" disabled) Países
									option(value="1") País 1
									option(value="2") País 2
									option(value="3") País 3
									option(value="4") País 4

							h3.c-formulario-extenso__subtitulo ¿Describe en qué consiste tu idea?

							textarea(placeholder="300 palabras máximo")

							h3.c-formulario-extenso__subtitulo ¿Por qué tu proyecto es diferente, innovador, disruptivo?

							textarea(placeholder="100 palabras máximo")

							h3.c-formulario-extenso__subtitulo Si fuera apoyada, ¿cuál es el impacto que estás esperando?

							textarea(placeholder="100 palabras máximo")

							h3.c-formulario-extenso__subtitulo ¿Tienes alguna estimación de cuánto dinero necesitarías para desarrollar tu idea?

							ul.c-formulario-extenso__formulario--lista.c-formulario-extenso__formulario--lista-doble
								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span Menos de 2.500 dólares
								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span Entre 10.001 y 20.000 dólares
								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span Entre 2.501 y 5.000 dólares
								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span Entre 20.001 y 40.000 dólares
								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span Entre 5.001 y 10.000 dólares
								li
									.inputRadio
										label
											input(type="radio" name="recibir")
											span Más de 40.001 dólares

							h3.c-formulario-extenso__subtitulo ¿Quieres adjuntar algún archivo adicional? #[i (PDF, video)]

							.file-field
								.boton
									span + Adjuntar
									input(type='file' multiple='')
								.file-path-wrapper
									input.file-path.validate(type='text')

							button.btn.btn-naranja(type="submit"): span Enviar


		include ../template/_footer
		
		include ../template/_scripts
