//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'iniciativa-idea.html'
- page[ 'title' ] 		= 'Quienes somos'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.programas.quienes-somos
			section.c-banner-principal
				.container
					.c-banner-principal__texto
						h1.u-color-texto--rosa ¿Quiénes somos?

						p #[strong Iniciativa IDEA] es el laboratorio de innovación social para los derechos reproductivos en América Latina de #[strong Planned Parenthood Global.]

			section.informacion
				.container
					.imagen
						img.lazy(src="#" data-src=urlFolder+"images/iniciativa-idea/quienes-somos.png" alt="quienes somos")

					.texto
						p Nuestro propósito es impulsar un #[strong nuevo ecosistema formado por los sectores de la publicidad, la tecnología, los medios digitales y el emprendimiento de impacto social] que exploran la creatividad, la innovación y el talento para generar soluciones a los grandes desafíos para la salud y derechos reproductivos en América Latina.


				.container
					.imagen
						img.lazy(src="#" data-src=urlFolder+"images/iniciativa-idea/planned.png" alt="planned")

					.texto
						p Planned Parenthood Global es una #[strong organización sin fines de lucro que durante 50 años ha estado trabajando por la salud y los derechos reproductivos en América Latina y alrededor del mundo], a través de alianzas estratégicas con múltiples actores para contribuir a un movimiento poderoso a nivel global.
						p: a(href="https://www.plannedparenthood.org/es/sobre-nosotros/planned-parenthood-global" target="_blank" title="Conocer más sobre Planned Global") Conocer más sobre Planned Parenthood Global

			section.c-banner-imagen-full.c-banner-imagen-full--gris
				.c-banner-imagen-full__container.container
					.c-banner-imagen-full__texto
						h2.u-color-texto--rosa Nuestro Desafío

						p #[strong Todas las personas tenemos el derecho humano fundamental a decidir si queremos tener hijos/as o no, cuándo y con quién], lo que incluye tener la información y los medios para ejercer ese derecho sin sufrir discriminación de ningún tipo. #[strong Cuando las personas ejercen sus derechos reproductivos libremente, esto logra un enorme impacto positivo para ellas], sus familias y sus países en todos los ámbitos, por ejemplo:

						ul
							li Las personas tienen mejor educación, durante más tiempo y con mejores resultados.
							li Tienen mayor acceso al empleo, en puestos mejor remunerados, son más estables y más productivas.
							li Tienen menor riesgo de sufrir o provocar violencia de género.
							li Pueden acceder a mejores viviendas, más amplias, saludables y en mejores barrios.
							li Mejoran su seguridad alimentaria y nutrición, así como disminuyen las enfermedades y muertes maternas e infantiles.
							li Forman una pareja estable en el momento oportuno, se reducen los hogares monoparentales y mejora la independencia económica.
							li Tienen mayor poder adquisitivo, aumentan su capacidad de consumo y rompen el círculo de la pobreza y la exclusión social.
							li Los Estados tienen mayor recaudación de impuestos, menor gasto de asistencia médica y social y aumentan su producto interno bruto.

					.c-banner-imagen-full__imagen
						img.lazy(src="#" data-src=urlFolder + "images/iniciativa-idea/tienes-una-idea.png" alt="Tienes una idea")

			section.c-lista-ordenada.c-lista-ordenada--rosa
				.container
					h2.c-lista-ordenada__titulo A pesar de este impacto positivo, el ejercicio de los derechos reproductivos en #[strong América Latina enfrenta grandes barreras en tres áreas clave:]

					ul.c-lista-ordenada__lista
						li El desarrollo de la educación sexual integral, la disponibilidad de anticonceptivos modernos y eficaces y el acceso al aborto legal y seguro.
						li Las leyes y políticas públicas restrictivas de estos derechos y presupuestos públicos insuficientes o asignados de manera ineficiente.
						li Los patrones socioculturales que perpetúan los prejuicios contra el ejercicio de los derechos reproductivos.

			section.iconos
				.container
					h2 Esta realidad provoca, entre otras, las siguientes consecuencias:

					ul
						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/embarazo.svg" alt="imagen")
							p #[strong América Latina es la única región en el mundo donde aumenta el número de embarazos en niñas menores de 15 años], y cada año más de 2 millones de adolescentes entre 15 y 18 años se embarazan, impactando su trayectoria educativa y oportunidades laborales.

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/ley.svg" alt="imagen")
							p Aunque la interrupción del embarazo es un procedimiento médicamente sencillo y seguro, #[strong 760.000 mujeres son tratadas anualmente por complicaciones derivadas de la necesidad de recurrir al aborto inseguro.]

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/reproduccion.svg" alt="imagen")
							p Más del 97% de las mujeres en edad reproductiva viven en países donde la #[strong interrupción del embarazo está altamente restringida por la ley y los patrones socioculturales.]

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/violencia.svg" alt="imagen")
							p #[strong Más de 1 millón de niñas] y adolescentes han sufrido violencia sexual.

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/prueba.svg" alt="imagen")
							p El 65% de las mujeres en edad reproductiva #[strong desean evitar un embarazo y no pueden hacerlo.]

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/pastillas.svg" alt="imagen")
							p: strong 24 millones de mujeres tienen una necesidad insatisfecha de métodos anticonceptivos modernos.

					h2 Disminuir esta realidad y lograr un impacto positivo en el desarrollo de América Latina es posible si logramos superar las barreras que enfrenta el ejercicio de los derechos reproductivos. ¡Un desafío apasionante!

			section.c-banner-imagen-full.c-banner-imagen-full--reversa.c-banner-imagen-full--gris
				.c-banner-imagen-full__container.container
					.c-banner-imagen-full__texto
						h2.u-color-texto--rosa: strong Teoría del Cambio

						p Las organizaciones que trabajan en el ámbito de la salud y los derechos reproductivos #[strong enfrentan una necesidad urgente de innovar en un mundo que cada vez es más cambiante e interconectado; donde los donantes tradicionales han reducido drásticamente su apoyo, se han desarrollado nuevos ecosistemas para afrontar los problemas sociales y cada vez es más necesaria la colaboración entre personas y equipos multidisciplinarios] que aporten creatividad y experiencias distintas.
						p La Iniciativa IDEA busca crear sinergias con cada uno de estos ecosistemas e interconectarlos para encontrar soluciones creativas e innovadoras a los desafíos para la salud y derechos reproductivos en América Latina.

					.c-banner-imagen-full__imagen
						img.lazy(src="#" data-src=urlFolder + "images/iniciativa-idea/teoria-del-cambio.png" alt="Teoria del cambio")

			section.c-lista-no-ordenada
				.container
					h2.c-lista-no-ordenada__titulo ¿Qué hacemos?

					ul.c-lista-no-ordenada__lista
						li #[strong Trabajamos con personas, organizaciones y empresas apasionadas] por encontrar nuevas soluciones a las barreras de acceso a servicios integrales de salud sexual y reproductiva, la incidencia política para el cambio de leyes restrictivas que obstaculizan los derechos reproductivos, y la transformación de patrones socioculturales que perpetúan los prejuicios sobre los derechos reproductivos.
						li #[strong Invertimos en ideas disruptivas] provenientes de la intersección entre tecnología, publicidad, comunicación y emprendimiento de impacto social con los derechos reproductivos.
						li #[strong Ayudamos a organizaciones sin fines de lucro] a su transformación en emprendimientos de impacto social.
						li Apoyamos la creación de nuevos emprendimientos de impacto social mediante #[strong formación intensiva, coaching profesional y fondos semilla.]
						li #[strong Impulsamos un ecosistema de innovación social] formado por líderes de los sectores de la publicidad, la tecnología, los medios digitales, los emprendimientos sociales, los fondos de inversión de impacto social, activistas y organizaciones.

			section.c-lista-de-logos.c-lista-de-logos--multicolor
				.container
					h2.c-lista-de-logos__titulo Programas

					ul.c-lista-de-logos__lista
						li: a.c-lista-de-logos__lista-contenido(href="idea-inspira.html"): .content: img.lazy(src="#" data-src=urlFolder + "images/quienes-somos/idea-inspira.svg" alt="Idea Inspira")
						li: a.c-lista-de-logos__lista-contenido(href="idea-start.html"): .content: img.lazy(src="#" data-src=urlFolder + "images/quienes-somos/idea-start.svg" alt="Idea Start")
						li: a.c-lista-de-logos__lista-contenido(href="#!"): .content: img.lazy(src="#" data-src=urlFolder + "images/quienes-somos/idea-premios.svg" alt="Idea Premios")
						li: a.c-lista-de-logos__lista-contenido(href="#!"): .content: img.lazy(src="#" data-src=urlFolder + "images/quienes-somos/idea-evento.svg" alt="Idea Evento")
						li: a.c-lista-de-logos__lista-contenido(href="#!"): .content: img.lazy(src="#" data-src=urlFolder + "images/quienes-somos/idea-comunidad.svg" alt="Idea Comunidad")

			section.c-lista-resultados
				.container
					h2.c-lista-resultados__titulo Nuestro Impacto

					ul.c-lista-resultados__lista
						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 12
								p.c-lista-resultados__lista-texto #[strong Proyectos disruptivos] apoyados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 29
								p.c-lista-resultados__lista-texto #[strong Emprendimientos] de impacto social apoyados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 12
								p.c-lista-resultados__lista-texto #[strong Eventos de networking], inspiración y aprendizaje realizados

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 1.193
								p.c-lista-resultados__lista-texto #[strong Participantes] en Eventos IDEA

						li
							.c-lista-resultados__lista-contenido
								p.c-lista-resultados__lista-numero 131
								p.c-lista-resultados__lista-texto #[strong Empresas y organizaciones] involucradas

			//-section.articulos
				.container
					.articulo
						.texto
							h2 ¿Qué buscamos?

							p Impulsar empresas y organizaciones con el objetivo de que sean más sostenibles, alcancen un mayor impacto y se adapten mejor a los cambios en su entorno para responder a las necesidades y demandas en materia de salud y derechos reproductivos en América Latina.

						.imagen
							img(src="https://fakeimg.pl/1080x570/" alt="¿Qué buscamos?")

					.articulo
						.texto
							h2 ¿Cómo?

							p A través de programas de acompañamiento y mentorías:

							ul
								li Fortalecemos el modelo de negocio de empresas y organizaciones que buscan tener un impacto positivo en la región y las preparamos para el proceso de recibir inversión
								li Ofrecemos la posibilidad de acceder a capital semilla para que empresas y organizaciones puedan escalar su impacto.
								li Conectamos a las empresas y organizaciones con otras iniciativas e inversores de la región.

						.imagen
							img(src=urlFolder+"images/programas/como.jpg" alt="¿Cómo?")

			//-section.programa
				.container
					h2 IDEA Start es un programa de

					ul
						li: img(src="https://fakeimg.pl/210x125/" alt="Planned")
						li: img(src="https://fakeimg.pl/210x125/" alt="Iniciativa Idea")
						li: img(src="https://fakeimg.pl/210x125/" alt="Impa QTO")
						li: img(src="https://fakeimg.pl/210x125/" alt="Alterna")


		include ../template/_footer
		
		include ../template/_scripts
