//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'interna-agenda.html'
- page[ 'title' ] 		= 'Interna Agenda'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.c-interna-agenda
			.c-interna-agenda__regresar
				.c-interna-agenda__regresar-container.container
					a.c-interna-agenda__enlace(href="agenda.html") #[span.c-interna-agenda__regresar-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/arrow-back.svg")]] Regresar a Agenda

			.c-interna-agenda
				.c-interna-agenda__container.container
					ul.c-interna-agenda__compartir
						li.c-interna-agenda__item: a.c-interna-agenda__item-enlace(href="#!") #[span.c-interna-agenda__item-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/i-calendar.svg")]] Agregar al calendario
						li.c-interna-agenda__item: a.c-interna-agenda__item-enlace(href="#!") #[span.c-interna-agenda__item-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/facebook-blanco.svg")]]
						li.c-interna-agenda__item: a.c-interna-agenda__item-enlace(href="#!") #[span.c-interna-agenda__item-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/twitter-blanco.svg")]]
						li.c-interna-agenda__item: a.c-interna-agenda__item-enlace(href="#!") #[span.c-interna-agenda__item-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/i-mail.svg")]]
						li.c-interna-agenda__item Compartir

					h1.c-interna-agenda__titulo MAIN STAGE Toniic Presents for Investors: "Journey Through The Portal" - Global Discussions for and with Impact Investors. Starting our Journey in Asia Pacific

					p.c-interna-agenda__fecha #[span.c-interna-agenda__fecha-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/i-clock.svg")]] 8:00 PM / 8:10 PM CDT — 6:00 PM / 6:10 PM PST

					.c-interna-agenda__contenido
						p "Historically, pandemics have forced humans to break with the past and imagine their world anew. This one is no different. It is a portal, a gateway between one world and the next."

						p This quote from Indian author Suzanna Arundhati Roy is our inspiration for a set of SOCAP pre-events specifically for impact investors.

						p As a global network of individual investors, family offices and private foundations committed to aligning our wealth with our values, Toniic is ideally suited to curate these pre-events - to challenge ourselves and each other to help shape a fairer, more sustainable future.

					h2.c-interna-agenda__subtitulo Ponentes

					ul.c-contenido-speakers__speakers.c-contenido-speakers__speakers--interna-agenda
						- var n = 0
						while n < 2
							- n ++
							li.c-contenido-speakers__item
								a(href="#!").c-contenido-speakers__imagen
									img.lazy(src="#" data-src="https://fakeimg.pl/250/" alt="speaker")

								.c-contenido-speakers__contenido
									.c-contenido-speakers__contenido-nombre Catalina Ruiz Navarro Catalina Ruiz Navarro
									.c-contenido-speakers__contenido-pais COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA COLOMBIA
									.c-contenido-speakers__contenido-profesion Fundadora y Directora Creadoras Camp

									ul.c-contenido-speakers__contenido-redes-sociales
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/twitter-blanco.svg" alt="twitter")
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/instagram-blanco.svg" alt="instagram")
										li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/linkedin-blanco.svg" alt="linkedin")

		include ../template/_footer

		include ../template/_scripts
