//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'interna-agenda.html'
- page[ 'title' ] 		= 'Interna Agenda'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header

		main.c-interna-agenda
			.c-interna-agenda__regresar
				.c-interna-agenda__regresar-container.container
					a.c-interna-agenda__enlace(href="agenda.html") #[span.c-interna-agenda__regresar-icon #[img.lazy(src="#" data-src=urlFolder+"images/logos/arrow-back.svg")]] Regresar

			.c-interna-agenda
				.c-interna-agenda__container.container
					.c-interna-agenda__ponente
						.c-interna-agenda__ponente-imagen
							img.lazy(src="" data-src="https://fakeimg.pl/265/")

						.c-interna-agenda__ponente-descripcion
							h1.c-interna-agenda__ponente-titulo Catalina Ruiz Navarro
							h2.c-interna-agenda__ponente-subtitulo Fundadora y Directora Creadoras Camp
							h3.c-interna-agenda__ponente-pais COLOMBIA

							ul.c-contenido-speakers__contenido-redes-sociales.c-contenido-speakers__contenido-redes-sociales--interna-speaker
								li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/twitter-blanco.svg" alt="twitter")
								li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/instagram-blanco.svg" alt="instagram")
								li.c-contenido-speakers__contenido-red: a(href="#"): img.lazy(src="#" data-src=urlFolder + "images/logos/linkedin-blanco.svg" alt="linkedin")

					.c-interna-agenda__contenido
						p Feminista colombiana autora del libro “Las mujeres que luchan se encuentran”, columnista del diario El Espectador desde 2008. Co-fundadora y directora de Volcánicas (volcanicas.com), fundadora y directora de Creadoras Camp, y una de las fundadoras del colectivo feminista colombiano Viejas Verdes. Ha sido columnista de el portal Sin Embargo y Vice en México, Univisión en Estados Unidos y el periódico El Heraldo y la revista Razón Pública en Colombia. Su trabajo como periodista ha sido publicado en periódicos internacionales como The Guardian y The Washington Post. En noviembre de 2016 dictó el TEDx Talk “Hablemos de feminismos” en la ciudad de Bogotá.

						p Es una de las expertas en género y feminismo del SheSource del Women’s Media Center y hace parte del Consejo Consultivo de la ONG alemana Centre For Feminist Foreign Policy. Ha sido consultora en comunicación estratégica y derechos humanos para la Foundation for a Just Society (FJS) y el Centro por la Justicia y el Derecho Internacional (CEJIL) y el Instituto Interamericano de Derechos Humanos (IIDH). Ha trabajado con organizaciones internacionales como Oxfam y Planned Parenthood Global en el diseño de estrategias digitales para la promoción de los derechos de las mujeres. En 2017 fue co-fundadora de la revista Volcánica, la revista feminista latinoamericana de Nómada y fue su directora hasta 2019. Fue cofundadora del proyecto de Youtube Estereotipas (2015-2017), que recibió los premios Chiuku de MTV Agentes de Cambio, en la categoría de “Equidad de género”; el premio #LeadHers de Marie Claire América Latina en la categoría de “Políticamente incorrectas”; el premio Ciudad de México a la Acción Ciudadana del Año por la campaña #MiPrimerAcoso en 2016. Ha trabajado como Oficial de Comunicaciones en Women’s Link Worldwide bajo la mentoría de Mónica Roa y como Coordinadora de Comunicaciones para JASS Mesoamérica (Asociadas por lo justo) en donde trabajó con defensoras de derechos humanos indígenas y rurales en Centroamérica. También fue profesora de Periodismo de Opinión en la Facultad de Comunicación de la Universidad Javeriana y de Periodismo Digital en la Universidad Jorge Tadeo Lozano.

						p Es maestra en Artes Visuales con énfasis en Artes Plásticas y Filósofa de la Universidad Javeriana.

		include ../template/_footer

		include ../template/_scripts
