//- Variables
include ../config/_site
include ../config/_variables

-var page 				= {  }

- page[ 'link' ] 		= 'programas.html'
- page[ 'title' ] 		= 'Inicio'
- page[ 'descrip' ] 	= 'description'
- page[ 'keys' ] 		= 'keywords'
- page[ 'lang' ] 		= 'es'
- page[ 'responsive' ]	= true
- page[ 'section' ] 	= [  ]
- page[ 'libsCss']		= [  ]
- page[ 'plugins']		= [  ]
- page[ 'js']			= [  ]
- page[ 'print' ]       = [  ]

- var path  = ''
	if(page.link !== 'index.html')
		- path = '../'

doctype
html(lang=page.lang)
	include ../template/_head

	body
		include ../template/_header


		main.programas
			section.intro
				.container
					ul
						li: a(href="idea-inspira.html" title="IDEA Inspira") IDEA Inspira
						li: a.active(href="#i!" title="IDEA Start") IDEA Start

					.texto.active
						h1 ¿Quiénes somos?

						p IDEA Start es un programa impulsado por la Iniciativa IDEA, el Laboratorio de Innovación Social de Planned Parenthood Global, junto a ALTERNA e IMPAQTO, #[strong que busca descubrir, incubar y acelerar empresas de impacto social y organizaciones sostenibles] que trabajan en salud y derechos reproductivos en América Latina.

			section.informacion
				.container
					.texto
						h2 ¿Por qué la salud y derechos reproductivos en América Latina?

						p El desarrollo de América Latina es obstaculizado por el problema básico de que las personas no tienen acceso a la información y los servicios de salud reproductiva necesarios para poder decidir su futuro, lo que provoca, entre otras, las siguientes consecuencias.

					.imagen
						img.lazy(src="#" data-src="https://fakeimg.pl/1080x570/" alt="¿Por qué la salud y derechos reproductivos en América Latina?")

			section.iconos
				.container
					ul
						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/embarazo.svg" alt="imagen")
							p El 65% de las mujeres en edad reproductiva desea evitar un embarazo y no pueden hacerlo. (UNFPA, 2017)

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/prueba.svg" alt="imagen")
							p Es la única región en el mundo donde aumenta el número de embarazos en niñas menores de 15 años (PAHO, UNFPA, UNICEF, 2017) y, cada año, más de 2 millones de adolescentes entre 15 y 18 años se embarazan, impactando su trayectoria educativa y oportunidades laborales.

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/pastillas.svg" alt="imagen")
							p 24 millones de mujeres tienen una necesidad insatisfecha de métodos anticonceptivos modernos. (UNFPA, 2017)

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/violencia.svg" alt="imagen")
							p Mas de 1 millón de ninas y adolecentes han sufriso violencia sexual. (UNICEF, 2017)

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/ley.svg" alt="imagen")
							p Aunque la interrupción del embarazo es un procedimiento médicamente sencillo y seguro, 760.000 mujeres son tratadas anualmente por complicaciones derivadas de la necesidad de recurrir al aborto inseguro. (GUTTMACHER INSTITUTE, 2017)

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/reproduccion.svg" alt="imagen")
							p Más del 97% de las mujeres en edad reproductiva viven en países donde la interrupción del embarazo está altamente restringida por ley y patrones socioculturales. (GUTTMACHER INSTITUTE, 2017)

					h2 Ante esta situación, invitamos a desarrollar soluciones que avancen:

					ul
						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/servicio.svg" alt="imagen")
							p El acceso a servicios de salud sexual y reproductiva integrales.

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/transformacion.svg" alt="imagen")
							p La transformación de patrones socioculturales que perpetúan los prejuicios sobre el ejercicio de los derechos reproductivos.

						li
							.imagen: img.lazy(src="#" data-src=urlFolder+"images/programas/incidencia.svg" alt="imagen")
							p La incidencia política para el cambio de leyes restrictivas con los derechos reproductivos.

			section.articulos
				.container
					.articulo
						.texto
							h2 ¿Qué buscamos?

							p Impulsar empresas y organizaciones con el objetivo de que sean más sostenibles, alcancen un mayor impacto y se adapten mejor a los cambios en su entorno para responder a las necesidades y demandas en materia de salud y derechos reproductivos en América Latina.

						.imagen
							img(src="https://fakeimg.pl/1080x570/" alt="¿Qué buscamos?")

					.articulo
						.texto
							h2 ¿Cómo?

							p A través de programas de acompañamiento y mentorías:

							ul
								li Fortalecemos el modelo de negocio de empresas y organizaciones que buscan tener un impacto positivo en la región y las preparamos para el proceso de recibir inversión
								li Ofrecemos la posibilidad de acceder a capital semilla para que empresas y organizaciones puedan escalar su impacto.
								li Conectamos a las empresas y organizaciones con otras iniciativas e inversores de la región.

						.imagen
							img(src=urlFolder+"images/programas/como.jpg" alt="¿Cómo?")

			section.programa
				.container
					h2 IDEA Start es un programa de

					ul
						li: img(src="https://fakeimg.pl/210x125/" alt="Planned")
						li: img(src="https://fakeimg.pl/210x125/" alt="Iniciativa Idea")
						li: img(src="https://fakeimg.pl/210x125/" alt="Impa QTO")
						li: img(src="https://fakeimg.pl/210x125/" alt="Alterna")


		include ../template/_footer
		
		include ../template/_scripts
